.p-generic-table.machines-table {
  margin-bottom: 0;

  th,td {
    &.fqdn {
      width: 15%;
    }

    &.power {
      width: 12%;
    }

    &.status {
      width: 15%;
    }

    &.owner {
      width: 9%;
    }

    &.pool, .zone, .fabric {
      width: 8%;
    }

    &.ram, .cores, .disks, .storage {
      width: 5%;
    }
  }
}