<div class="row">
  <hr />
  <div class="col-3">
    <p>Customise options</p>
  </div>
  <div class="col-9">
    <div class="p-form-group p-form-validation">
      <div class="p-form__control u-clearfix">
        <input
          id="installKVM"
          type="checkbox"
          data-ng-model="deployOptions.installKVM"
          ng-disabled="!nodesManager.canBeKvmHost(osSelection)"
        />
        <label
          for="installKVM"
          class="u-float--left"
          style="width: auto; margin-right: 1rem"
        >
          <ul class="p-inline-list u-no-margin--bottom">
            <li class="p-inline-list__item">
              Register as MAAS KVM host.&nbsp;
            </li>
            <li class="p-inline-list__item">
              <a
                class="p-link--external"
                href="https://maas.io/docs/kvm-introduction"
                target="_blank"
              >
                Read more
              </a>
            </li>
          </ul>
        </label>
        <p class="p-form-help-text u-no-margin--top" style="padding-left: 2rem">
          Only Ubuntu 18.04 LTS and Ubuntu 20.04 LTS are officially supported.
        </p>
      </div>
    </div>
    <div class="p-form-group p-form-validation u-sv2">
      <div class="p-form__control u-clearfix">
        <input
          id="showCloudInit"
          type="checkbox"
          ng-model="showCloudInitChecked"
        />
        <label
          for="showCloudInit"
          class="u-float--left"
          style="width: auto; margin-right: 1rem"
        >
          <ul class="p-inline-list u-no-margin--bottom">
            <li class="p-inline-list__item">
              Cloud-init user-data&hellip;
            </li>
            <li class="p-inline-list__item">
              <a
                class="p-link--external"
                href="https://maas.io/docs/custom-node-setup-preseed#heading--cloud-init"
                target="_blank"
              >
                Read more
              </a>
            </li>
          </ul>
        </label>
      </div>
    </div>

    <div data-ng-if="showCloudInitChecked">
      <textarea
        class="p-form-validation__input u-sv2"
        data-ng-model="deployOptions.userData"
        name="userData"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        placeholder="Paste script here"
        spellcheck="false"
        style="min-height: 15rem"
      ></textarea>
      <input
        user-data-upload
        id="userDataFiles"
        type="file"
        autocomplete="off"
        accept="text/*,
application/x-csh, application/x-sh, application/x-shellscript,
application/json, application/ld+json, application/x-yaml"
      />
    </div>
  </div>
  <hr />
</div>
