@mixin KVMResourcesCard {
  $donut-size: 6.5rem;
  $donut-width: 14px;

  .kvm-machine-list-modal {
    max-width: none;
    min-width: 0;
    // Subtract small screen gutter width and card inner padding to center dropdown.
    width: calc(
      100vw - #{(map-get($grid-gutter-widths, small) + $sph-inner) * 2}
    );

    .fqdn-col,
    .status-col {
      width: 50%;
    }

    .power-col {
      width: 0;
    }

    .cores-col,
    .ram-col {
      width: 5rem;
    }

    @media only screen and (min-width: $breakpoint-x-small) {
      .power-col {
        width: 7rem;
      }
    }

    @media only screen and (min-width: $breakpoint-small) {
      width: 35rem;
    }

    @media only screen and (min-width: $breakpoint-medium) {
      width: 40rem;
    }
  }

  .kvm-resources-card__ram-table {
    margin-bottom: 0;

    th,
    td {
      &:nth-child(1) {
        padding-left: 0;
        width: 30%;
      }

      &:nth-child(2) {
        width: 35%;
      }

      &:nth-child(3) {
        padding-right: 0;
        width: 35%;
      }
    }

    td {
      padding-bottom: $spv-inner--small;
      padding-top: calc(#{$spv-inner--small} - 1px);
    }

    @media only screen and (min-width: $breakpoint-medium) {
      margin-top: -$spv-inner--small;
    }
  }

  .kvm-resources-card__vms-button {
    line-height: 1;
    margin: 0;
    padding-left: $sph-inner--small * 0.5;
    padding-right: $sph-inner--small;
  }

  // Base KVM resources card styling.
  .kvm-resources-card__section {
    @extend %base-grid;
    grid:
      [row1-start] "header" min-content [row1-end]
      [row2-start] "content" min-content [row2-end]
      / 1fr;
    grid-template-rows: min-content;

    > :nth-child(1) {
      grid-area: header;
    }

    > :nth-child(2) {
      grid-area: content;
    }

    &:not(:first-of-type) {
      padding-top: $spv-inner--large;
      position: relative;

      &::after {
        background-color: $color-mid-light;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: $spv-inner--small;
      }
    }

    @media only screen and (min-width: $breakpoint-medium) {
      .kvm-resources-card--wide & {
        grid:
          [row1-start] "header content content content" min-content [row1-end]
          / minmax($donut-size, 1fr) 1fr 1fr 1fr;
      }
    }

    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-x-large - 1px) {
      grid:
        [row1-start] "header content content content" min-content [row1-end]
        / minmax($donut-size, 1fr) 1fr 1fr 1fr;
    }
  }

  // Overwrites for aggregated view at large breakpoints
  .kvm-resources-card--aggregate {
    padding-top: $spv-inner--small;

    .p-card__content {
      @extend %base-grid;
      display: block;

      @media only screen and (min-width: $breakpoint-large) {
        display: grid;
        grid-template-areas: "ram ram ram ram ram cpu cpu cpu vfs vfs vfs vms";
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: min-content;

        .kvm-resources-card__section {
          padding: 0;

          &:not(:first-of-type)::after {
            bottom: -$spv-inner--large;
            height: inherit;
            left: -$sph-inner;
            right: inherit;
            top: -$spv-inner--small;
            width: 1px;
          }
        }

        .kvm-resources-card__ram {
          grid-area: ram;
          grid-column-gap: $sph-inner;
          grid-template-areas: "header content";
          grid-template-columns: minmax($donut-size, 1fr) 3fr;
        }

        .kvm-resources-card__cpu {
          grid-area: cpu;
          grid-template-areas:
            "header header header"
            "content content content";
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        .kvm-resources-card__vfs {
          grid-area: vfs;
          grid-template-areas:
            "header header header"
            "content content content";
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        .kvm-resources-card__vms {
          grid-area: vms;
          grid-template-areas:
            "header"
            "content";
          grid-template-columns: 1fr;
          text-align: right;
        }
      }

      @media only screen and (min-width: $breakpoint-x-large) {
        grid-template-areas: "ram ram ram ram cpu cpu cpu vfs vfs vfs vms vms";

        .kvm-resources-card__vms {
          grid-template-areas: "header content";
          grid-template-columns: repeat(2, minmax(0, 1fr));
          text-align: left;
        }
      }
    }
  }
}
