@mixin SessionTimeout {
  .p-form__group {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(6);
  }

  .p-form__session-length-input {
    margin-right: 0;
    border-right-width: 0;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .p-form__time-unit-input {
    margin-left: 0;
    grid-column-start: 5;
    grid-column-end: 6;
  }
  
}