@mixin SectionHeader {
  .section-header {
    padding-top: $spv-inner--medium;
  }

  .section-header__title {
    margin: 0 $sph-outer $spv-outer--medium 0;
  }

  .section-header__subtitle {
    margin: 0 $sph-outer $spv-outer--medium 0;
  }
}
