@mixin SectionHeader {
  .section-header {
    padding-top: $spv--medium;
  }

  .section-header__title {
    margin: 0 $sph--small $spv--large 0;
  }

  .section-header__subtitle {
    margin: 0 $sph--small $spv--large 0;
  }
}
