@mixin HardwareCard {
    .hardware-card {
        padding: 0.5rem 1rem 1rem 1rem;
        
        .p-list__item + .p-list__item {
            @include pseudo-border(top);
            // margin-right: 0.5rem;
        }

        li.p-list__item {
            padding: 0.25rem 0 !important;
        }

        li.p-list__item:first-child {
            padding-top: 0.5rem !important;
        }

        .p-list__item-label {
            text-align: left !important;
            margin-right: 0;
        }

        .hardware-card__section {
            margin-bottom: 1rem;
        }
    }
}