@mixin SideNav {
  .side-nav__list {
    @extend %vf-clearfix;
    margin: -$spv-inner--x-small 0 $spv-inner--small;
    padding: 0;

    &__item {
      @extend %vf-list-item;
    }
  }

  .side-nav__item {
    padding-bottom: $spv-inner--x-small / 2;
    padding-top: $spv-inner--x-small / 2;

    &:first-of-type {
      padding-top: $spv-inner--small;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .side-nav .is-active {
    position: relative;

    &::before {
      background-color: $color-brand;
      bottom: -$spv-inner--x-small;
      content: "";
      left: -$sph-inner;
      position: absolute;
      top: -$spv-inner--x-small;
      width: $bar-thickness;
    }
  }

  .side-nav__item > .side-nav__list {
    padding-left: $sph-inner;
  }
}
