@import "~vanilla-framework/scss/settings_spacing";
@import "~vanilla-framework/scss/settings_colors";
@import "~vanilla-framework/scss/settings_placeholders";
@import "~vanilla-framework/scss/base_typography-max-widths";
@import "~vanilla-framework/scss/base_placeholders";
@import "~vanilla-framework/scss/patterns_grid";
@import "~vanilla-framework/scss/patterns_lists";
@import "src/scss/settings";

@include vf-b-placeholders;
@include vf-p-grid;
@include vf-p-lists;

.side-nav__list {
  @extend %vf-clearfix;
  margin-bottom: $spv-inner--small;
  margin-top: -$spv-inner--x-small;

  &__item {
    @extend %vf-list-item;
  }
}

.side-nav__item {
  padding-bottom: $spv-inner--x-small / 2;
  padding-top: $spv-inner--x-small / 2;

  &:first-of-type {
    padding-top: $spv-inner--small;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.side-nav .is-active {
  position: relative;

  &::before {
    background-color: $color-brand;
    bottom: -$spv-inner--x-small;
    content: "";
    left: -$sph-inner;
    position: absolute;
    top: -$spv-inner--x-small;
    width: $bar-thickness;
  }
}

.side-nav__item > .side-nav__list {
  padding-left: $sph-inner;
}
