@import "~vanilla-framework/scss/base";

@mixin maas-labelled-lists {
  //XXX can be removed / replaced with whatever mixin will contain the placeholders %vf-list, %vf-list-item used below, once  this is fixed: https://github.com/canonical-web-and-design/vanilla-framework/issues/2808
  %vf-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .p-list--labelled {
    @extend %vf-list;

    .p-list__item {
      @extend %vf-list-item;
      display: flex;
      padding: $spv-inner--x-small--scaleable 0;
      word-wrap: break-word;
    }

    .p-list__item-label {
      color: $color-mid-dark;
      flex: 1 0 0;
      margin-right: $sph-outer;
      text-align: right;
    }

    .p-list__item-value {
      flex: 2 1 0;
    }
  }
}

