<header id="error-header" class="p-strip--light is-shallow page-header" data-ng-show="show()">
    <div class="row">
        <h1 class="page-header__title u-no-margin--bottom">
            <span data-ng-hide="clientError">{$ getTitle() $}</span>
        </h1>
        <div class="page-header__controls">
            <button class="p-button--neutral u-no-margin--bottom" data-ng-click="reload()" data-ng-show="clientError">Reload</button>
        </div>
        <div class="page-header__dropdown is-open" data-ng-show="error">
            <div class="page-header__section">
                <p class="page-header__message page-header__message--error">
                    {$ error $}
                </p>
            </div>
        </div>
    </div>
</header>
<div class="ng-hide u-no-margin--top" data-ng-hide="show()">
    <div data-ng-transclude></div>
</div>
