<div ng-if="loading">
  <i class="p-icon--spinner u-animation--spin" />
  &nbsp;Loading...
</div>
<ul class="p-inline-list--settings u-no-margin--left" ng-if="!loading">
  <li class="p-inline-list__item">
    <input
      id="enableDiskErasing"
      ng-change="onEraseChange()"
      ng-disabled="globalOptions.enableDiskErasing"
      ng-model="localOptions.enableDiskErasing"
      type="checkbox"
    />
    <label for="enableDiskErasing">
      Erase disks before releasing
    </label>
  </li>
  <li class="p-inline-list__item">
    <input
      id="secureErase"
      ng-disabled="!localOptions.enableDiskErasing"
      ng-model="localOptions.secureErase"
      type="checkbox"
    />
    <label for="secureErase">
      Use secure erase
    </label>
  </li>
  <li class="p-inline-list__item">
    <input
      id="quickErase"
      ng-disabled="!localOptions.enableDiskErasing"
      ng-model="localOptions.quickErase"
      type="checkbox"
    />
    <label for="quickErase">
      Use quick erase (not secure)
    </label>
  </li>
</ul>
