@mixin DownloadImages {
  .multi-select div {
    background-color: var(--vf-color-background-default);
  }

  .select-upstream-images-form {
    footer.content-section__footer {
      z-index: 2;
      margin-bottom: 100%;
    }
  }
}