@use "sass:map";

@mixin VmResources {
  .vm-resources {
    padding: $sph--large;
  }

  .p-contextual-menu .vm-resources__dropdown {
    max-width: none;
    min-width: 0;
    padding: $spv--x-small $sph--small;
    // Subtract small screen gutter width and card inner padding to center dropdown.
    width: calc(
      100vw - #{(map.get($grid-gutter-widths, small) + $sph--large) * 2}
    );

    .fqdn,
    .status {
      width: 14rem;
    }

    .cpu {
      text-align: right;
    }

    .power,
    .cpu,
    .ram {
      display: none;
    }

    @media only screen and (min-width: $breakpoint-small) {
      width: calc(
        100vw - #{(map.get($grid-gutter-widths, default) + $sph--large) * 2}
      );

      .power {
        display: table-cell;
        width: 12rem;
      }
    }

    @media only screen and (min-width: $breakpoint-small) {
      width: 50rem;

      .cpu,
      .ram {
        display: table-cell;
        width: 5rem;
      }
    }
  }
}
