<!-- Header strip -->
<header
  class="p-strip--light is-shallow u-no-padding--bottom page-header"
  media-query="min-width: 769px"
>
  <div class="row">
    <div class="col-12">
      <div class="u-flex--space-between">
        <!-- Title + node count -->
        <ul class="p-inline-list">
          <li
            class="p-inline-list__item p-heading--four"
            data-test="section-header-title"
          >
            {$ title $}
          </li>
          <li class="p-inline-list__item" ng-if="loading">
            <span
              ><i class="p-icon--spinner u-animation--spin"></i>
              Loading...</span
            >
          </li>
          <li class="p-inline-list__item p-text--muted" ng-if="!loading">
            <span ng-if="currentpage === 'devices'">
              <span ng-if="!tabs.devices.selectedItems.length">
                {$ devices.length $}
                <ng-pluralize
                  count="devices.length"
                  when="{'one': 'device available', 'other': 'devices available'}"
                ></ng-pluralize>
              </span>
              <span
                ng-if="
                  tabs.devices.selectedItems.length &&
                  tabs.devices.selectedItems.length !== devices.length
                "
              >
                {$ tabs.devices.selectedItems.length $} of {$ devices.length $}
                <ng-pluralize
                  count="devices.length"
                  when="{'one': 'device selected', 'other': 'devices selected'}"
                ></ng-pluralize>
              </span>
              <span
                ng-if="
                  tabs.devices.selectedItems.length &&
                  tabs.devices.selectedItems.length === devices.length
                "
              >
                {$ devices.length $}
                <ng-pluralize
                  count="devices.length"
                  when="{'one': 'device selected', 'other': 'devices selected'}"
                ></ng-pluralize>
              </span>
            </span>
            <span ng-if="currentpage === 'controllers'">
              <span ng-if="!tabs.controllers.selectedItems.length">
                {$ controllers.length $}
                <ng-pluralize
                  count="controllers.length"
                  when="{'one': 'controller available', 'other': 'controllers available'}"
                ></ng-pluralize>
              </span>
              <span
                ng-if="
                  tabs.controllers.selectedItems.length &&
                  tabs.controllers.selectedItems.length !== controllers.length
                "
              >
                {$ tabs.controllers.selectedItems.length $} of {$
                controllers.length $}
                <ng-pluralize
                  count="controllers.length"
                  when="{'one': 'controller selected', 'other': 'controllers selected'}"
                ></ng-pluralize>
              </span>
              <span
                ng-if="
                  tabs.controllers.selectedItems.length &&
                  tabs.controllers.selectedItems.length === controllers.length
                "
              >
                {$ controllers.length $}
                <ng-pluralize
                  count="controllers.length"
                  when="{'one': 'controller selected', 'other': 'controllers selected'}"
                ></ng-pluralize>
              </span>
            </span>
          </li>
        </ul>

        <!-- Action buttons -->
        <ul
          class="p-inline-list u-no-margin--bottom"
          ng-if="
            currentpage === 'devices' &&
            !tabs.devices.actionOption &&
            !addDeviceScope.viewable
          "
        >
          <li class="p-inline-list__item">
            <button
              class="p-button--neutral u-no-margin--bottom"
              ng-click="addDevice()"
              ng-disabled="tabs.devices.selectedItems.length"
            >
              Add device
            </button>
          </li>
          <li class="p-inline-list__item last-item">
            <span class="p-tooltip--left">
              <span
                disabled="!tabs.devices.selectedItems.length"
                maas-cta="tabs.devices.takeActionOptions"
                ng-change="actionOptionSelected('devices')"
                ng-click="updateAvailableActions('devices')"
                ng-model="tabs.devices.actionOption"
                selected-items="tabs.devices.selectedItems.length"
              ></span>
              <span
                class="p-tooltip__message"
                ng-if="!tabs.devices.selectedItems.length"
                >Select devices below to perform an action.</span
              >
            </span>
          </li>
        </ul>
        <ul
          class="p-inline-list u-no-margin--bottom"
          ng-if="
            currentpage === 'controllers' &&
            !tabs.controllers.actionOption &&
            !tabs.controllers.addController
          "
        >
          <li class="p-inline-list__item">
            <button
              class="p-button--neutral u-no-margin--bottom"
              ng-click="tabs.controllers.addController = true"
              ng-disabled="tabs.controllers.selectedItems.length"
            >
              Add rack controller
            </button>
          </li>
          <li class="p-inline-list__item last-item">
            <span class="p-tooltip--left">
              <span
                disabled="!tabs.controllers.selectedItems.length"
                maas-cta="tabs.controllers.takeActionOptions"
                ng-change="actionOptionSelected('controllers')"
                ng-click="updateAvailableActions('controllers')"
                ng-model="tabs.controllers.actionOption"
                selected-items="tabs.controllers.selectedItems.length"
              ></span>
              <span
                class="p-tooltip__message"
                ng-if="!tabs.controllers.selectedItems.length"
                >Select controllers below to perform an action.</span
              >
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    data-ng-repeat="tab in ['devices']"
    data-ng-class="{ 'u-hide': !tabs[tab].actionOption }"
  >
    <div class="page-header__dropdown">
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <section
        class="page-header__section row u-no-margin--top"
        data-ng-hide="isActionError(tab) || hasActionsInProgress(tab)"
      >
        <div class="row">
          <div
            class="col-8"
            ng-if="tabs[tab].actionOption.name === 'test' || tabs[tab].actionOption.name === 'set-zone'"
          >
            <form class="p-form">
              <ul
                class="p-inline-list--settings u-no-margin--left u-no-padding--left"
                ng-if="tabs[tab].actionOption.name === 'test'"
              >
                <li class="p-inline-list__item">
                  <input
                    id="{$ tab $}-enableSSH"
                    type="checkbox"
                    data-ng-model="tabs[tab].testOptions.enableSSH"
                  />
                  <label for="{$ tab $}-enableSSH"
                    >Allow SSH access and prevent machine powering off</label
                  >
                </li>
              </ul>
              <div class="row">
                <div
                  class="p-form__group col-6 ng-hide"
                  data-ng-show="tabs[tab].actionOption.name === 'set-zone'"
                >
                  <label for="{$ tab $}-zone3" class="p-form__label"
                    >Select Zone</label
                  >
                  <div class="p-form__control u-clearfix">
                    <select
                      name="zone"
                      id="{$ tab $}-zone3"
                      data-ng-model="tabs[tab].zoneSelection"
                      data-ng-options="zone as zone.name for zone in zones"
                    >
                      <option value="" disabled="disabled">
                        Choose a zone
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div
            class="ng-hide"
            data-ng-show="tabs[tab].actionOption.name === 'tag'"
          >
            <div class="row p-form--stacked">
              <div class="col-6">
                <div class="p-form__group u-clearfix">
                  <label class="p-form__label col-2 col-small-2 col-medium-2"
                    >Tag machines</label
                  >
                  <div
                    class="p-form__control col-3 col-small-2 col-medium-3 tags--inline"
                  >
                    <span
                      data-ng-repeat="tag in node.tags"
                      data-ng-hide="summary.editing"
                    >
                      <a href="{$ newURLBase $}/machines?q=tags:({$ tag $})"
                        >{$ tag $}</a
                      >
                    </span>
                    <tags-input
                      data-ng-model="tags"
                      allowed-tags-pattern="[\w-]+"
                      placeholder="Enter a tag"
                    >
                      <auto-complete
                        source="tagsAutocomplete($query)"
                      ></auto-complete>
                    </tags-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            data-ng-if="tabs[tab].actionOption.name === 'override-failed-testing'"
          >
            <div class="row">
              <p data-ng-if="tabs[tab].loadingFailedTests">
                <i class="p-icon--spinner u-animation--spin"></i>
                <span>Loading tests...</span>
              </p>
              <p data-ng-if="!tabs[tab].loadingFailedTests">
                <i class="p-icon--warning"></i>
                <span data-ng-if="tabs[tab].selectedItems.length === 1">
                  Machine
                  <strong>{$ tabs[tab].selectedItems[0].fqdn $}</strong> has
                  <a
                    href="{$ legacyURLBase $}/{$ tabs[tab].selectedItems[0].link_type $}/{$ tabs[tab].selectedItems[0].system_id $}?area=testing"
                  >
                    failed {$ getFailedTestCount(tab) $} tests</a
                  >.
                </span>
                <span data-ng-if="tabs[tab].selectedItems.length > 1">
                  <strong>{$ tabs[tab].selectedItems.length $} machines</strong>
                  have failed {$ getFailedTestCount(tab) $} tests.
                </span>
              </p>
              <p style="margin-top: -0.5rem">
                Overriding will allow the machine<span
                  data-ng-if="tabs[tab].selectedItems.length > 1"
                  >s</span
                >
                to be deployed, marked with a warning.
              </p>
              <form>
                <input
                  type="checkbox"
                  id="suppress-tests"
                  data-ng-model="tabs[tab].suppressFailedTestsChecked"
                  data-ng-change="toggleHideFailIcons(tab)"
                />
                <label for="suppress-tests"
                  >Suppress test-failure icons in the machines list. Results
                  remain visible in
                  <span data-ng-if="tabs[tab].selectedItems.length === 1">
                    <a
                      href="{$ legacyURLBase $}/{$ tabs[tab].selectedItems[0].link_type $}/{$ tabs[tab].selectedItems[0].system_id $}?area=testing"
                      >Machine &gt; Hardware tests</a
                    >.
                  </span>
                  <span data-ng-if="tabs[tab].selectedItems.length > 1"
                    >Machine &gt; Hardware tests.</span
                  >
                </label>
              </form>
            </div>
          </div>
        </div>
        <div
          class="row u-align--right"
          data-ng-if="tabs[tab].actionOption.name !== 'test' && !tabs[tab].actionProgress.showing_confirmation"
        >
          <div class="col-12">
            <div
              class="u-space-between page-header__controls"
              data-ng-if="tabs[tab].actionOption.name !== 'test'"
            >
              <div class="u-align--right">
                <button
                  class="p-button--base"
                  type="button"
                  data-ng-click="actionCancel(tab)"
                >
                  Cancel
                </button>
                <button
                  data-ng-class="tabs[tab].actionOption.name === 'delete' ? 'p-button--negative' : 'p-button--positive'"
                  data-ng-click="actionGo(tab)"
                  data-ng-hide="hasActionsFailed(tab)"
                  data-ng-disabled="actionSubmitDisabled(tab)"
                >
                  <span data-ng-if="tabs[tab].actionOption.name === 'set-zone'"
                    >Set zone for {$ tabs[tab].selectedItems.length $} {$
                    pluralize(tab) $}
                  </span>
                  <span data-ng-if="tabs[tab].actionOption.name === 'on'"
                    >Power on {$ tabs[tab].selectedItems.length $} {$
                    pluralize(tab) $}
                  </span>
                  <span data-ng-if="tabs[tab].actionOption.name === 'off'"
                    >Power off {$ tabs[tab].selectedItems.length $} {$
                    pluralize(tab) $}
                  </span>
                  <span data-ng-if="tabs[tab].actionOption.name === 'abort'"
                    >Abort action for {$ tabs[tab].selectedItems.length $} {$
                    pluralize(tab) $}
                  </span>
                  <span
                    data-ng-if="tabs[tab].actionOption.name === 'rescue-mode'"
                    >Set rescue mode for {$ tabs[tab].selectedItems.length $} {$
                    pluralize(tab) $}
                  </span>
                  <span
                    data-ng-if="tabs[tab].actionOption.name === 'exit-rescue-mode'"
                    >Exit rescue mode for {$ tabs[tab].selectedItems.length $}
                    {$ pluralize(tab) $}
                  </span>
                  <span
                    data-ng-if="tabs[tab].actionOption.name === 'mark-broken'"
                    >Mark {$ tabs[tab].selectedItems.length $} {$ pluralize(tab)
                    $} as broken
                  </span>
                  <span
                    data-ng-if="tabs[tab].actionOption.name === 'mark-fixed'"
                    >Mark {$ tabs[tab].selectedItems.length $} {$ pluralize(tab)
                    $} as fixed
                  </span>
                  <span
                    data-ng-if="tabs[tab].actionOption.name === 'override-failed-testing'"
                    >Override failed testing on {$
                    tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                  </span>
                  <span data-ng-if="tabs[tab].actionOption.name === 'lock'"
                    >Lock {$ tabs[tab].selectedItems.length $} {$ pluralize(tab)
                    $}
                  </span>
                  <span data-ng-if="tabs[tab].actionOption.name === 'unlock'"
                    >Unlock {$ tabs[tab].selectedItems.length $} {$
                    pluralize(tab) $}
                  </span>
                  <span data-ng-if="tabs[tab].actionOption.name === 'delete'"
                    >Delete {$ tabs[tab].selectedItems.length $} {$
                    pluralize(tab) $}
                  </span>
                  <span data-ng-if="tabs[tab].actionOption.name === 'tag'"
                    >Tag {$ tabs[tab].selectedItems.length $} {$ pluralize(tab)
                    $}</span
                  >
                </button>
                <button
                  class="p-button--neutral"
                  data-ng-click="actionGo(tab)"
                  data-ng-if="hasActionsFailed(tab)"
                >
                  Retry
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="page-header__section row"
        data-ng-hide="isActionError(tab) || hasActionsInProgress(tab)"
        data-ng-if="tabs[tab].actionOption.name ==='test'"
      >
        <form class="p-form row">
          <div class="col-6">
            <div class="p-form__group hide-create-tag-label">
              <label for="{$ tab $}-testing-scripts">Tests</label>
              <span
                id="{$ tab $}-testing-scripts"
                data-maas-script-select="script"
                data-script-type="2"
                data-ng-model="tabs[tab].testSelection"
                class="tags--inline"
                check-test-parameter-values="checkTestParameterValues"
                set-default-values="setDefaultValues"
              ></span>
            </div>
          </div>
        </form>
      </section>
      <section
        class="page-header__section row"
        data-ng-hide="isActionError(tab) || hasActionsInProgress(tab)"
        data-ng-if="tabs[tab].actionOption.name === 'test' && !tabs[tab].actionProgress.showing_confirmation"
      >
        <hr />
        <div class="page-header__controls u-align--right">
          <button
            class="p-button--base"
            type="button"
            data-ng-click="actionCancel(tab)"
          >
            Cancel
          </button>
          <button
            data-ng-class="tabs[tab].actionOption.name === 'delete' ? 'p-button--negative' : 'p-button--positive'"
            data-ng-click="actionGo(tab)"
            data-ng-hide="hasActionsFailed(tab)"
            data-ng-disabled="disableTestButton"
          >
            <span data-ng-if="tabs[tab].actionOption.name === 'test'"
              >Test {$ tabs[tab].selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs[tab].selectedItems.length"
                when="{'one': 'machine', 'other': 'machines'}"
              ></span>
            </span>
          </button>
          <button
            class="p-button--neutral"
            data-ng-click="actionGo(tab)"
            data-ng-if="hasActionsFailed(tab)"
          >
            Retry
          </button>
        </div>
      </section>

      <section
        class="page-header__section row u-no-margin--top"
        data-ng-hide="!isActionError(tab) || hasActionsInProgress(tab)"
      >
        <div class="col-12">
          <div class="row">
            <p class="page-header__message page-header__message--error ng-hide">
              <i class="p-icon--warning">Warning</i>
              <span>{$ failedActionSentence $}</span>
              <span
                >To proceed,
                <a data-ng-click="unselectImpossibleNodes(tab)"
                  >update your selection</a
                >.</span
              >
            </p>
          </div>
        </div>
      </section>
      <section
        class="page-header__section row u-no-margin--top ng-hide"
        data-ng-show="tabs[tab].actionProgress.showing_confirmation"
      >
        <div class="col-12">
          <p>
            <i class="p-icon--warning"></i><b>Confirm:</b> {$
            tabs[tab].actionProgress.confirmation_message $}
          </p>
          <div
            data-ng-repeat="confirmation_detail in tabs[tab].actionProgress.confirmation_details"
          >
            <span>{$ confirmation_detail $}</span>
          </div>
          <div>
            <div class="u-align--left">
              Are you sure you want to {$ tabs[tab].actionOption.name $}
              <span
                data-ng-pluralize
                count="tabs[tab].selectedItems.length"
                when="{'one': 'this machine', 'other': 'these machines'}"
              ></span
              >?
            </div>
            <div class="u-align--right">
              <button
                type="button"
                class="p-button--base"
                data-ng-click="actionCancel(tab)"
              >
                No
              </button>
              <button class="p-button--negative" data-ng-click="actionGo(tab)">
                Yes
              </button>
            </div>
          </div>
        </div>
      </section>
      <section
        class="page-header__section row u-no-margin--top ng-hide"
        data-ng-show="hasActionsInProgress(tab) || hasActionsFailed(tab)"
      >
        <div class="col-12">
          <p
            class="page-header__message"
            data-ng-show="hasActionsInProgress(tab)"
          >
            <i class="p-icon--spinner u-animation--spin"></i>
            {$ tabs[tab].actionProgress.completed $} of {$
            tabs[tab].actionProgress.total $} nodes are transitioning to {$
            tabs[tab].actionOption.sentence $}.
          </p>
        </div>
      </section>
    </div>
  </div>

  <div
    class="page-header__dropdown"
    data-ng-class="{ 'u-hide': !addDeviceScope.viewable }"
    data-ng-controller="AddDeviceController"
  >
    <section class="page-header__section row">
      <hr />
      <h4 class="page-header__dropdown-title">Add device</h4>
      <form class="p-form p-form--stacked row">
        <div class="col-6 u-sv3">
          <div class="p-form__group row">
            <label for="device-name" class="p-form__label col-2 is-required">
              Name
            </label>
            <div class="p-form__control col-4">
              <div
                class="p-form-validation"
                data-ng-class="{ 'is-error': nameHasError() }"
              >
                <input
                  type="text"
                  id="device-name"
                  placeholder="Name your device"
                  class="p-form-validation__input"
                  data-ng-model="device.name"
                />
              </div>
            </div>
          </div>
          <div class="p-form__group row">
            <label for="domain3" class="p-form__label col-2 is-required">
              Domain
            </label>
            <div class="p-form__control col-4">
              <select
                name="domain"
                id="domain3"
                data-ng-model="device.domain"
                data-ng-options="domain as domain.name for domain in domains"
              ></select>
            </div>
          </div>
        </div>
      </form>
      <table class="p-table-nodes-list u-no-margin--bottom">
        <thead>
          <tr class="p-table__row">
            <th class="p-table__cell">MAC address</th>
            <th class="p-table__cell">IP assignment</th>
            <th class="p-table__cell">Subnet</th>
            <th class="p-table__cell">IP address</th>
            <th class="p-table__cell">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="p-table__row"
            data-ng-repeat="interface in device.interfaces"
          >
            <td class="p-table__cell" aria-label="MAC address">
              <div
                class="p-form-validation u-no-margin--top"
                data-ng-class="{ 'is-error': macHasError(interface) }"
              >
                <input
                  type="text"
                  id="mac-address1"
                  placeholder="00:00:00:00:00:00"
                  class="p-form-validation__input u-no-margin--bottom"
                  data-ng-model="interface.mac"
                />
              </div>
            </td>
            <td class="p-table__cell" aria-label="IP assignment">
              <select
                name="ip-assignment"
                id="ip-assignment"
                data-ng-model="interface.ipAssignment"
                class="u-no-margin--bottom"
                data-ng-options="assigment.title for assigment in ipAssignments"
              >
                <option value="" disabled selected>Select IP assignment</option>
              </select>
            </td>
            <td class="p-table__cell" aria-label="Subnet">
              <select
                name="subnet"
                id="subnet"
                data-ng-model="interface.subnetId"
                data-ng-options="subnet.id as subnet.name for subnet in subnets"
                data-ng-show="interface.ipAssignment.name === 'static'"
              >
                <option value="" disabled selected>Select subnet</option>
              </select>
            </td>
            <td class="p-table__cell" aria-label="IP address">
              <div
                class="p-form-validation u-no-margin--top"
                data-ng-class="{ 'is-error': ipHasError(interface) }"
              >
                <input
                  type="text"
                  placeholder="000.000.000.000"
                  class="p-form-validation__input"
                  data-ng-model="interface.ipAddress"
                  data-ng-show="interface.ipAssignment.name === 'external'"
                />
                <input
                  type="text"
                  class="p-form-validation__input"
                  data-ng-model="interface.ipAddress"
                  data-ng-show="interface.ipAssignment.name === 'static'"
                />
              </div>
            </td>
            <td class="p-table__cell">
              <a
                class="p-button--base"
                data-ng-click="deleteInterface(interface)"
                data-ng-hide="isPrimaryInterface(interface)"
                title="Delete interface"
                ><i class="p-icon--delete">Delete</i></a
              >
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="u-no-border--top">
            <td>
              <button
                class="p-button--neutral u-no-margin--bottom"
                data-ng-click="addInterface()"
              >
                <i class="p-icon--plus"></i>&nbsp;Add another interface
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
      <hr />
      <div class="ng-hide" data-ng-show="error">
        <span class="p-icon--error">Error:</span> {$ error $}
      </div>
      <div class="u-align--right">
        <button type="button" class="p-button--base" data-ng-click="cancel()">
          Cancel
        </button>
        <button
          class="p-button--neutral"
          data-ng-class="{ disabled: deviceHasError() }"
          data-ng-click="save(true)"
        >
          Save and add another
        </button>
        <button
          class="p-button--positive"
          data-ng-class="{ disabled: deviceHasError() }"
          data-ng-click="save(false)"
        >
          Save device
        </button>
      </div>
    </section>
  </div>

  <div
    class="page-header__dropdown"
    data-ng-class="{ 'u-hide': !tabs.controllers.actionOption }"
  >
    <div
      class="page-header__section col-12 ng-hide"
      data-ng-hide="isActionError('controllers') || hasActionsInProgress('controllers')"
    >
      <div class="row">
        <hr />
      </div>
      <div
        class="row"
        data-ng-if="tabs.controllers.actionOption.name === 'set-zone' || tabs.controllers.actionOption.name === 'test'"
      >
        <form class="p-form p-form--inline">
          <div
            class="ng-hide"
            data-ng-show="tabs.controllers.actionOption.name === 'set-zone'"
          >
            <div class="p-form__group">
              <label for="zone2" class="p-form__label">Select Zone</label>
              <div class="p-form__control">
                <select
                  name="zone"
                  id="zone2"
                  data-ng-model="tabs.controllers.zoneSelection"
                  data-ng-options="zone as zone.name for zone in zones"
                >
                  <option value="" disabled="disabled">Choose a zone</option>
                </select>
              </div>
            </div>
          </div>
          <div
            class="ng-hide"
            data-ng-show="tabs.controllers.actionOption.name === 'test'"
          >
            <div class="p-form__group">
              <input
                id="enable_SSH"
                type="checkbox"
                data-ng-model="tabs.controllers.testOptions.enableSSH"
              />
              <label class="p-form__label" for="enable_SSH"
                >Allow SSH access and prevent machine from powering off</label
              >
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div
          class="page-header__controls u-align--right"
          data-ng-if="tabs.controllers.actionOption.name !== 'test' && !tabs.controllers.actionProgress.showing_confirmation"
        >
          <button
            class="p-button--base"
            type="button"
            data-ng-click="actionCancel('controllers')"
          >
            Cancel
          </button>
          <button
            class="p-button--positive"
            data-ng-class="{ 'p-button--positive': tabs.controllers.actionOption.name !== 'delete', 'p-button--negative': tabs.controllers.actionOption.name === 'delete' }"
            data-ng-click="actionGo('controllers')"
            data-ng-disabled="actionSubmitDisabled('controllers')"
          >
            <span data-ng-if="tabs.controllers.actionOption.name === 'set-zone'"
              >Set zone for {$ tabs.controllers.selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs.controllers.selectedItems.length"
                when="{'one': 'controller', 'other': 'controllers'}"
              ></span>
            </span>
            <span data-ng-if="tabs.controllers.actionOption.name === 'on'"
              >Power on {$ tabs.controllers.selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs.controllers.selectedItems.length"
                when="{'one': 'controller', 'other': 'controllers'}"
              ></span>
            </span>
            <span data-ng-if="tabs.controllers.actionOption.name === 'off'"
              >Power off {$ tabs.controllers.selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs.controllers.selectedItems.length"
                when="{'one': 'controller', 'other': 'controllers'}"
              ></span>
            </span>
            <span data-ng-if="tabs.controllers.actionOption.name === 'delete'"
              >Delete {$ tabs.controllers.selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs.controllers.selectedItems.length"
                when="{'one': 'controller', 'other': 'controllers'}"
              ></span>
            </span>
            <span
              data-ng-if="tabs.controllers.actionOption.name === 'import-images'"
              >Import images for {$ tabs.controllers.selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs.controllers.selectedItems.length"
                when="{'one': 'controller', 'other': 'controllers'}"
              ></span>
            </span>
            <span
              data-ng-if="tabs.controllers.actionOption.name === 'override-failed-testing'"
              >Override failed testing for {$
              tabs.controllers.selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs.controllers.selectedItems.length"
                when="{'one': 'controller', 'other': 'controllers'}"
              ></span>
            </span>
          </button>
        </div>
      </div>
    </div>

    <div
      class="page-header__section ng-hide"
      data-ng-hide="isActionError('controllers') || hasActionsInProgress('controllers')"
      data-ng-if="tabs.controllers.actionOption.name === 'test'"
    >
      <div class="row">
        <form class="p-form">
          <div class="col-8">
            <div class="p-form__group hide-create-tag-label">
              <label for="testing-scripts">Tests</label>
              <span
                id="testing-scripts"
                data-maas-script-select="script"
                data-script-type="2"
                data-ng-model="tabs.machines.testSelection"
                class="tags--inline"
                check-test-parameter-values="checkTestParameterValues"
                set-default-values="setDefaultValues"
              ></span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div
      class="page-header__section col-12"
      data-ng-hide="isActionError('controllers') || hasActionsInProgress('controllers')"
      data-ng-if="tabs.controllers.actionOption.name === 'test' && !tabs.controllers.actionProgress.showing_confirmation"
    >
      <div class="row">
        <div class="page-header__controls p-strip u-align--right">
          <button
            class="p-button--base"
            type="button"
            data-ng-click="actionCancel('controllers')"
          >
            Cancel
          </button>
          <button
            class="p-button--positive"
            data-ng-click="actionGo('controllers')"
          >
            <span
              >Test {$ tabs.controllers.selectedItems.length $}
              <span
                data-ng-pluralize
                count="tabs.controllers.selectedItems.length"
                when="{'one': 'controller', 'other': 'controllers'}"
              ></span>
            </span>
          </button>
        </div>
      </div>
    </div>

    <div
      class="page-header__section col-12 ng-hide"
      data-ng-show="isActionError('controllers')"
    >
      <div class="row">
        <div class="p-form p-form--inline">
          <p class="page-header__message page-header__message--error">
            <i class="p-icon--error">Error: </i>
            <span>{$ failedActionSentence $}</span>
            <span
              >To proceed,
              <a data-ng-click="unselectImpossibleNodes('controllers')"
                >update your selection</a
              >.</span
            >
          </p>
        </div>
      </div>
    </div>

    <section
      class="page-header__section row u-no-margin--top ng-hide"
      data-ng-show="tabs.controllers.actionProgress.showing_confirmation"
    >
      <div class="row">
        <div class="col-12">
          <p>
            <i class="p-icon--warning"></i><b>Confirm:</b> {$
            tabs.controllers.actionProgress.confirmation_message $}
          </p>
          <div
            data-ng-repeat="confirmation_detail in tabs.controllers.actionProgress.confirmation_details"
          >
            <span>{$ confirmation_detail $}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          Are you sure you want to {$ tabs.controllers.actionOption.name $}
          <span
            data-ng-pluralize
            count="tabs.controllers.selectedItems.length"
            when="{'one': 'this controller', 'other': 'these controllers'}"
          ></span
          >?
        </div>
        <div class="col-4 u-align--right">
          <button
            type="button"
            class="p-button--base"
            data-ng-click="actionCancel('controllers')"
          >
            No
          </button>
          <button
            class="p-button--negative"
            data-ng-click="actionGo('controllers')"
          >
            Yes
          </button>
        </div>
      </div>
    </section>

    <div
      class="page-header__section col-12 ng-hide"
      data-ng-show="hasActionsInProgress('controllers') || hasActionsFailed('controllers')"
    >
      <div class="row">
        <form class="p-form p-form--inline">
          <p
            class="page-header__message"
            data-ng-show="hasActionsInProgress('controllers')"
          >
            <i
              class="p-icon--spinner u-animation--spin u-margin--right-small"
            ></i>
            {$ tabs.controllers.actionProgress.completed $} of {$
            tabs.controllers.actionProgress.total $} controllers have been {$
            tabs.controllers.actionOption.sentence $}.
          </p>
          <div
            data-ng-repeat="(error, controllers) in tabs.controllers.actionProgress.errors"
          >
            <span class="p-icon--error">Error:</span> The {$
            tabs.controllers.actionOption.title.toLowerCase() $} action for {$
            controllers.length $}
            <span
              data-ng-pluralize
              count="controllers.length"
              when="{'one': 'controller', 'other': 'controllers'}"
            ></span>
            failed with error: {$ error $}
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="page-header__dropdown row u-no-margin--top"
    data-ng-class="{ 'u-hide': !tabs.controllers.addController }"
  >
    <div
      class="page-header__section col-12 ng-hide"
      data-ng-show="tabs.controllers.addController"
    >
      <hr />
      <h4 class="page-header__dropdown-title">Add rack controller</h4>
      <pre><code># To add a new rack controller, SSH into the rack controller.
# Install the maas-rack-controller package.
# Confirm that the MAAS version is the same as the main rack controller.
sudo apt install maas-rack-controller
# Or if you use snap
sudo snap install maas

# Register the rack controller with this MAAS. If the rack controller (and machines)
# don't have access to the URL, use a different IP address to allow connection.
sudo maas-rack register --url {$ tabs.controllers.registerUrl $} --secret {$ tabs.controllers.registerSecret $}
# Or if you use snap
sudo maas init rack --maas-url {$ tabs.controllers.registerUrl $} --secret {$ tabs.controllers.registerSecret $}</code></pre>
    </div>
    <div class="row ng-hide" data-ng-show="tabs.controllers.addController">
      <div class="col-6">
        <p class="u-no-margin--bottom">
          <a
            class="p-link--external"
            href="https://maas.io/docs/rack-controller"
            target="_blank"
            >Help with adding a rack controller</a
          >
        </p>
      </div>
      <div class="col-6 u-align--right">
        <a
          href=""
          class="p-button--neutral"
          data-ng-click="tabs.controllers.addController = false"
          >Close</a
        >
      </div>
    </div>
  </div>
</header>

<div class="p-strip is-shallow u-no-padding--bottom">
  <div class="row">
    <maas-notifications></maas-notifications>
  </div>
</div>

<div class="p-strip is-shallow" data-ng-if="currentpage === 'devices'">
  <div class="row" data-ng-class="{ 'is-error': !tabs.devices.searchValid }">
    <div class="col-small-4 col-medium-3 col-3">
      <nodes-list-filter
        current-page="currentpage"
        options="tabs.devices.metadata"
        order="tabs.devices.filterOrder"
        is-disabled="tabs.devices.actionOption"
        toggle-filter="toggleFilter"
        is-filter-active="isFilterActive"
      ></nodes-list-filter>
    </div>
    <div class="col-small-2 col-medium-3 col-9">
      <div class="p-search-box">
        <input
          type="search"
          placeholder="Search"
          class="p-search-box__input"
          data-ng-model="tabs.devices.search"
          data-ng-change="updateFilters('devices')"
          data-ng-class="{ error: !tabs.devices.searchValid }"
          data-ng-disabled="tabs.devices.actionOption"
        />
        <button
          type="reset"
          class="p-search-box__reset u-no-margin--right"
          alt="reset"
          data-ng-click="clearSearch('devices')"
          data-ng-show="tabs.devices.search.length > 0"
        >
          <i class="p-icon--close"></i>
        </button>
        <button type="submit" class="p-search-box__button" alt="search">
          <i class="p-icon--search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="p-table-expanding p-table--sortable p-table--devices">
      <thead>
        <tr class="p-table__row">
          <th class="p-table__cell">
            <span class="u-float--left">
              <input
                type="checkbox"
                class="u-float--none"
                data-ng-click="toggleCheckAll('devices')"
                data-ng-checked="tabs.devices.allViewableChecked"
                id="check-all-devices"
                data-ng-disabled="hasActionsInProgress('devices')"
              />
              <label
                for="check-all-devices"
                class="p-form__label is-table-header"
              ></label>
            </span>
            <span
              role="columnheader"
              data-ng-click="sortTable('fqdn', 'devices')"
              data-ng-class="{'is-sorted': tabs.devices.predicate === 'fqdn', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}"
            >
              <abbr>FQDN</abbr>
            </span>
          </th>
          <th
            class="p-table__cell"
            role="columnheader"
            data-ng-click="sortTable('primary_mac', 'devices')"
            data-ng-class="{'is-sorted': tabs.devices.predicate === 'primary_mac', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}"
          >
            MAC
          </th>
          <th
            class="p-table__cell"
            role="columnheader"
            data-ng-click="sortTable('ip_assignment', 'devices')"
            data-ng-class="{'is-sorted': tabs.devices.predicate === 'ip_assignment', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}"
            media-query="min-width: 1000px"
          >
            IP Assignment
          </th>
          <th
            class="p-table__cell"
            role="columnheader"
            data-ng-click="sortTable('ip_address', 'devices')"
            data-ng-class="{'is-sorted': tabs.devices.predicate === 'ip_address', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}"
          >
            IP Address
          </th>
          <th
            class="p-table__cell"
            role="columnheader"
            data-ng-click="sortTable('owner', 'devices')"
            data-ng-class="{'is-sorted': tabs.devices.predicate === 'owner', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}"
          >
            Owner
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="p-table__row"
          data-ng-repeat="device in tabs.devices.filtered_items = (devices | nodesFilter:tabs.devices.search | orderBy:tabs.devices.predicate:tabs.devices.reverse) track by device.system_id"
          data-ng-class="{ 'table--error': !supportsAction(device, 'devices'), 'is-active': device.$selected }"
        >
          <td class="p-table__cell" aria-label="FQDN">
            <span class="u-float--left">
              <input
                type="checkbox"
                class="u-float--none"
                data-ng-click="toggleChecked(device, 'devices')"
                data-ng-checked="device.$selected"
                id="{$ device.fqdn $}"
                data-ng-disabled="hasActionsInProgress('devices')"
              />
              <label
                for="{$ device.fqdn $}"
                class="p-form__label is-inline-label"
              ></label>
            </span>
            <a
              class="p-domain-name"
              href="{$ legacyURLBase $}/{$ device.link_type $}/{$ device.system_id $}"
              title="{$ device.fqdn $}"
            >
              <span class="p-domain-name__host">{$ device.hostname $}</span
              ><span class="p-domain-name__tld">.{$ device.domain.name $}</span>
            </a>
          </td>
          <td
            class="p-table__cell"
            aria-label="MAC"
            title="{$ device.primary_mac $}"
          >
            {$ device.primary_mac $}
            <span class="extra-macs" data-ng-show="device.extra_macs.length"
              >(+{$ device.extra_macs.length $})</span
            >
          </td>
          <td
            class="p-table__cell"
            aria-label="IP Assignment"
            title="{$ getDeviceIPAssignment(device.ip_assignment) $}"
          >
            {$ getDeviceIPAssignment(device.ip_assignment) $}
          </td>
          <td
            class="p-table__cell"
            aria-label="IP Address"
            title="{$ device.ip_address $}"
          >
            {$ device.ip_address $}
          </td>
          <td
            class="p-table__cell"
            aria-label="Owner"
            title="{$ device.owner $}"
          >
            {$ device.owner $}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="p-strip is-shallow" data-ng-if="currentpage === 'controllers'">
  <div class="row">
    <div
      class="p-form-validation"
      data-ng-class="{ 'is-error': !tabs.controllers.searchValid }"
    >
      <div class="p-search-box">
        <input
          type="search"
          placeholder="Search"
          class="p-search-box__input p-form-validation__input"
          data-ng-model="tabs.controllers.search"
          data-ng-change="updateFilters('controllers')"
          data-ng-disabled="tabs.controllers.actionOption"
        />
        <button
          type="reset"
          class="p-search-box__reset u-no-margin--right"
          alt="reset"
          data-ng-show="tabs.controllers.search.length > 0"
          data-ng-click="clearSearch('controllers')"
        >
          <i class="p-icon--close">Reset</i>
        </button>
        <button type="submit" class="p-search-box__button" alt="search">
          <i class="p-icon--search">Search</i>
        </button>
      </div>
    </div>
    <div class="p-table__wrapper">
      <table
        class="p-table--sortable p-table--controllers p-table--no-truncation"
      >
        <thead>
          <tr class="p-table__row">
            <th class="p-table__cell">
              <span class="u-float--left">
                <input
                  type="checkbox"
                  class="u-float--none"
                  data-ng-click="toggleCheckAll('controllers')"
                  data-ng-checked="tabs.controllers.allViewableChecked"
                  id="check-all-controllers"
                  data-ng-disabled="hasActionsInProgress('controllers')"
                />
                <label
                  for="check-all-controllers"
                  class="p-form__label is-table-header"
                ></label>
              </span>
              <span
                role="columnheader"
                data-ng-click="sortTable('fqdn', 'controllers')"
                data-ng-class="{'is-sorted': tabs.controllers.predicate === 'fqdn', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}"
              >
                Name
              </span>
            </th>
            <th class="p-table__cell u-align--center">
              <span title="Status">Status</span>
            </th>
            <th
              class="p-table__cell"
              role="columnheader"
              data-ng-click="sortTable('node_type_display', 'controllers')"
              data-ng-class="{'is-sorted': tabs.controllers.predicate === 'node_type_display', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}"
            >
              Type
            </th>
            <th class="p-table__cell" role="columnheader"># of VLANs</th>
            <th
              class="p-double-row"
              role="columnheader"
              data-ng-click="sortTable('node_type_display', 'controllers')"
              data-ng-class="{'is-sorted': tabs.controllers.predicate === 'version', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}"
            >
              <div>Version</div>
              <div class="u-text--muted">Channel</div>
            </th>
            <th class="p-table__cell" role="columnheader">Available upgrade</th>
            <th class="p-double-row">
              <div class="u-truncate">Last Image Sync</div>
              <div class="u-text--muted u-truncate">Images Status</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="p-table__row"
            data-ng-repeat="controller in tabs.controllers.filtered_items = (controllers | nodesFilter:tabs.controllers.search | orderBy:tabs.controllers.predicate:tabs.controllers.reverse) track by controller.system_id"
            data-ng-class="{ 'table--error': !supportsAction(controller, 'controllers'), 'is-active': controller.$selected }"
          >
            <td class="p-table__cell" aria-label="FQDN">
              <span class="u-float--left">
                <input
                  type="checkbox"
                  class="u-float--none"
                  data-ng-click="toggleChecked(controller, 'controllers')"
                  data-ng-checked="controller.$selected"
                  id="{$ controller.fqdn $}"
                  data-ng-disabled="hasActionsInProgress('controllers')"
                />
                <label
                  for="{$ controller.fqdn $}"
                  class="p-form__label is-inline-label"
                ></label>
              </span>
              <a
                class="p-domain-name"
                href="{$ legacyURLBase $}/{$ controller.link_type $}/{$ controller.system_id $}"
                title="{$ controller.fqdn $}"
              >
                <span class="p-domain-name__host"
                  >{$ controller.hostname $}</span
                ><span class="p-domain-name__tld"
                  >.{$ controller.domain.name $}</span
                >
              </a>
            </td>
            <td
              class="p-table__cell u-align--center"
              data-maas-controller-status="controller"
              data-maas-services="services"
              aria-label="Status"
            ></td>
            <td
              class="p-table__cell"
              aria-label="Type"
              title="{$ controller.node_type_display $}"
            >
              <div class="u-truncate">{$ controller.node_type_display $}</div>
            </td>
            <td class="p-double-row" aria-label="# of VLANs">
              <div class="p-double-row__rows-container">
                <div class="p-double-row__main-row"></div>
                <div class="p-double-row__muted-row u-truncate">
                  {$ getHaVlans(controller) $}
                </div>
              </div>
            </td>
            <td class="p-double-row" aria-label="Version">
              <div class="p-double-row__rows-container">
                <div class="p-double-row__main-row">
                  <div
                    class="u-truncate"
                    data-ng-if="getVersions(controller).current"
                    title="{$ getVersions(controller).current $}"
                  >
                    {$ getVersions(controller).current $}
                  </div>
                  <div
                    data-ng-if="!getVersions(controller).current"
                    class="u-no-margin--top"
                    title="Unknown"
                  >
                    Unknown
                    <span class="p-tooltip--top-center">
                      <i class="p-icon--information"></i>
                      <span class="p-tooltip__message" role="tooltip"
                        >Less than 2.3.0</span
                      >
                    </span>
                  </div>
                </div>
                <div class="p-double-row__muted-row">
                  <div
                    data-ng-if="getVersions(controller).origin"
                    title="{$ getVersions(controller).origin $}"
                  >
                    {$ getVersions(controller).isDeb ? "Deb" :
                    getVersions(controller).origin $}
                  </div>
                  &nbsp;
                  <div
                    class="p-tooltip--top-left"
                    data-ng-if="getVersions(controller).cohortTooltip || getVersions(controller).isDeb"
                  >
                    <i class="p-icon--information"></i>
                    <span class="p-tooltip__message" role="tooltip"
                      >{$ getVersions(controller).isDeb ?
                      getVersions(controller).origin :
                      getVersions(controller).cohortTooltip $}</span
                    >
                  </div>
                </div>
              </div>
            </td>
            <td class="p-table__cell" aria-label="Available upgrade">
              <div
                data-ng-if="getVersions(controller).upgrade"
                title="{$ getVersions(controller).upgrade $}"
              >
                {$ getVersions(controller).upgrade $}
              </div>
            </td>
            <td
              class="p-double-row"
              aria-label="Last image sync"
              title="{$ controller.last_image_sync || 'Never' $}"
            >
              <div class="p-double-row__rows-container">
                <div class="p-double-row__main-row u-truncate">
                  {$ controller.last_image_sync || 'Never' $}
                </div>
                <div class="p-double-row__muted-row u-truncate">
                  <maas-controller-image-status
                    system-id="controller.system_id"
                  ></maas-controller-image-status>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
