@mixin SourceMachineSelect {
  .source-machine-select {
    @extend %vf-is-bordered;
    padding: $spv-inner--medium $sph-inner 0 $sph-inner;
  }

  .source-machine-select__table {
    max-height: 22rem;
    overflow: auto;
  }

  .source-machine-select__row {
    cursor: pointer;

    &:hover {
      background-color: $color-light;
    }
  }
}
