@mixin Placeholder {
  .p-placeholder {
    animation: shine 1.5s infinite ease-out;
    background-color: var(--vf-color-background-hover);
    background-image: linear-gradient(
                    to right,
                    var(--vf-color-background-hover) calc(50% - 2rem),
                    var(--vf-color-background-default) 50%,
                    var(--vf-color-background-hover) calc(50% + 2rem)
    );
    background-size: 300% 100%;
    color: transparent;
    overflow: hidden;
    pointer-events: none;
    text-indent: -100%;
  }

  @keyframes shine {
    0% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
  }
}
