.user-list td,
.user-list th {
  $grid-size: 10% / 3;

  // Username:
  &:nth-child(1) {
    flex: 0 0 $grid-size * 6;
  }

  // Email
  &:nth-child(2) {
    flex: 0 0 $grid-size * 6;
  }

  // Machines
  &:nth-child(3) {
    flex: 0 0 $grid-size * 3;
  }

  // Type
  &:nth-child(4) {
    flex: 0 0 $grid-size * 2;
  }

  // Last seen
  &:nth-child(5) {
    flex: 0 0 $grid-size * 5;
  }

  // Role
  &:nth-child(6) {
    flex: 0 0 $grid-size * 2;
  }

  // MAAS keys
  &:nth-child(7) {
    flex: 0 0 $grid-size * 3;
  }
}

// Actions
.user-list th:nth-child(8) {
  align-items: center;
}
