@mixin KVMDetailsHeader {
  .kvm-details-header__title-blocks {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    .kvm-details-header__title-blocks {
      flex-direction: row;
    }

    .kvm-details-header__title-block {
      padding-left: $sph-inner--small;
      padding-right: $sph-inner--small;
    }
  }
}
