.p-generic-table.controller-vlans-table {
  .fabric {
    width: 15%
  }

  .vlan {
    width: 15%;
  }

  .dhcp {
    width: 10%;
  }

  .subnets {
    width: 20%;
  }

  .primary_rack {
    width: 20%;
  }

  .secondary_rack {
    text-align: left !important;
    width: 20%;
  }
}
