.p-generic-table.controller-vlans-table {
  .vlan {
    width: 18%;
  }

  .dhcp {
    width: 13%;
  }

  .subnets {
    width: 23%;
  }

  .primary_rack {
    width: 23%;
  }

  .secondary_rack {
    text-align: left !important;
    width: 23%;
  }
}
