@mixin RAMPopover {
  %ram-popover-grid {
    display: grid;
    grid-template-columns: 6rem auto;
    padding: $spv-inner--small $spv-outer--medium;
  }

  .ram-popover {
    width: 16.5rem;
  }

  .ram-popover__primary {
    @extend %ram-popover-grid;
  }

  .ram-popover__secondary {
    @extend %ram-popover-grid;
    background: $color-light;
  }

  .ram-popover__separator {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: $spv-outer--small;
  }

  .ram-popover__value {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: $sph-inner--small;
  }
}
