.repo-list td,
.repo-list th {
  // Name
  &:nth-child(1) {
    flex: 0 0 30%;
  }

  // URL
  &:nth-child(2) {
    flex: 0 0 45%;
  }

  // Enabled
  &:nth-child(3) {
    flex: 0 0 10%;
  }

  // Actions
  &:nth-child(4) {
    flex: 0 0 15%;
  }
}
