.p-accordion__tab {
  display: inline-flex;
  align-items: baseline;
}

.p-accordion__panel {
  margin-left: 32px;
  padding: 0 16px;
  overflow: hidden;

  table {
    table-layout: auto;

    th, td {
      padding-left: 0;
      padding-right: 0;
    }
  }

  tbody {
    tr {
      border: none;

      td {
        vertical-align: middle;
        overflow: visible;
      }

      button[role="combobox"] {
        margin: 0;
        color: var(--vf-color-text-muted);
      }

      .multi-select__dropdown {
        margin-top: 20px;
      }
    }
  }
}