@mixin MachineList {
  $box-size: 1rem;
  $checkbox-offset: 0.1875rem; // Offset checkbox to prevent focus outline truncation
  $grouped-machines-indentation: $box-size + $sph-inner - $checkbox-offset; // Checkbox + label - offset

  .machine-list--grouped .machine-list__machine {
    border: 0;
    position: relative;
    transform: scale(1);

    &::after {
      background-color: $color-mid-light;
      content: "";
      height: 1px;
      left: $grouped-machines-indentation;
      position: absolute;
      right: 0;
      top: 0;
    }

    td:first-child {
      padding-left: $grouped-machines-indentation;
    }
  }

  .machine-list__machine .p-table-menu {
    display: none;
  }

  .machine-list__machine:last-child td {
    // Force the cells in the last row to calculate their height.
    // See: https://github.com/canonical-web-and-design/maas-ui/issues/935
    min-height: 1px;
  }

  .machine-list__machine:hover,
  .machine-list__machine--active {
    background-color: $color-x-light;

    .p-table-menu {
      display: block;

      .p-table-menu__toggle {
        opacity: 0.25;
      }
    }

    .p-table-menu .p-table-menu__toggle:focus,
    .p-table-menu .p-table-menu__toggle:active,
    td:hover .p-table-menu .p-table-menu__toggle {
      opacity: 1;
    }
  }

  .machine-list__group-toggle {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: flex-end;
  }

  .fqdn-col {
    @include breakpoint-widths(45%, 35%, 26%, 24%, 20%);
  }

  .power-col {
    @include breakpoint-widths(25%, 17%, 14%, 12%, 10%);
  }

  .status-col {
    @include breakpoint-widths(30%, 28%, 18%, 18%, 15%);
  }

  .owner-col {
    @include breakpoint-widths(0, 20%, 8%, 9%, 9%);
  }

  .pool-col {
    @include breakpoint-widths(0, 0, 0, 0, 7%);
  }

  .zone-col {
    @include breakpoint-widths(0, 0, 0, 9%, 7%);
  }

  .fabric-col {
    @include breakpoint-widths(0, 0, 0, 0, 7%);
  }

  .cores-col {
    @include breakpoint-widths(0, 0, 8%, 6%, 6%);
  }

  .ram-col {
    @include breakpoint-widths(0, 0, 9%, 8%, 7%);
  }

  .disks-col {
    @include breakpoint-widths(0, 0, 8%, 6%, 6%);
  }

  .storage-col {
    @include breakpoint-widths(0, 0, 9%, 8%, 6%);
  }

  .u-nudge--checkbox {
    padding-left: $checkbox-offset;
  }

  .u-nudge--secondary-row {
    padding-left: $box-size + $sph-inner + $checkbox-offset;
  }

  .machine-list--inline-input .p-form__control,
  .machine-list--inline-input {
    display: inline;
  }
}
