@import "~vanilla-framework/scss/settings_spacing";
@import "~vanilla-framework/scss/settings_colors";
@import "~vanilla-framework/scss/base_forms-tick-elements";

$breakpoint-first: 600px;
$breakpoint-second: 900px;
$breakpoint-third: 1030px;
$breakpoint-fourth: 1360px;

$checkbox-offset: 0.1875rem; // Offset checkbox to prevent focus outline truncation
$grouped-machines-indentation: $box-size + $sph-inner - $checkbox-offset; // Checkbox + label - offset
