@import "~vanilla-framework/scss/settings_spacing";
@import "~vanilla-framework/scss/base_forms-tick-elements";

$grouped-machines-indentation: $box-size + $sph-inner; // Checkbox + label spacing

.machine-list--grouped .machine-list__machine td:first-child {
  padding-left: $grouped-machines-indentation;
}

.machine-list__group-toggle {
  text-align: right;
  vertical-align: middle;
}

.machine-list__group-toggle-button {
  display: inline-block;
}

.machine-list td,
.machine-list th {
  // FQDN/MAC:
  &:nth-child(1) {
    width: 20%;
  }
}
