@import "./settings";
@import "./machine-list-breakpoint-widths";

.machine-list--grouped .machine-list__machine td:first-child {
  padding-left: $grouped-machines-indentation;
}

.machine-list__machine .p-table-menu {
  display: none;
}

.machine-list__machine:hover,
.machine-list__machine--active {
  background-color: $color-x-light;

  .p-table-menu {
    display: block;

    .p-table-menu__toggle {
      opacity: 0.25;
    }
  }

  .p-table-menu .p-table-menu__toggle:focus,
  .p-table-menu .p-table-menu__toggle:active,
  td:hover .p-table-menu .p-table-menu__toggle {
    opacity: 1;
  }
}

.machine-list__group-toggle {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: flex-end;
}

.machine-list td,
.machine-list th {
  // FQDN/MAC
  &:nth-child(1) {
    @include breakpoint-widths(45%, 35%, 26%, 24%, 20%);
  }
  // Power
  &:nth-child(2) {
    @include breakpoint-widths(23%, 15%, 12%, 10%, 8%);
  }
  // Status
  &:nth-child(3) {
    @include breakpoint-widths(32%, 30%, 20%, 20%, 17%);
  }
  // Owner
  &:nth-child(4) {
    @include breakpoint-widths(0, 20%, 8%, 9%, 9%);
  }
  // Pool
  &:nth-child(5) {
    @include breakpoint-widths(0, 0, 0, 0, 7%);
  }
  // Zone
  &:nth-child(6) {
    @include breakpoint-widths(0, 0, 0, 9%, 7%);
  }
  // Fabric
  &:nth-child(7) {
    @include breakpoint-widths(0, 0, 0, 0, 7%);
  }
  // Cores
  &:nth-child(8) {
    @include breakpoint-widths(0, 0, 8%, 6%, 6%);
  }
  // RAM
  &:nth-child(9) {
    @include breakpoint-widths(0, 0, 9%, 8%, 7%);
  }
  // Disks
  &:nth-child(10) {
    @include breakpoint-widths(0, 0, 8%, 6%, 6%);
  }
  // Storage
  &:nth-child(11) {
    @include breakpoint-widths(0, 0, 9%, 8%, 6%);
  }
}
