@mixin pseudo-border($pos) {
  position: relative;

  &::after,
  &::before {
    background-color: $color-mid-light;
    content: "";
    position: absolute;
  }

  @if $pos == top {
    &::before {
      height: 1px;
      left: 0;
      right: 0;
      top: 0;
    }
  } @else if $pos == left {
    &::after {
      bottom: 0;
      left: -#{map-get($grid-gutter-widths, large) / 2};
      top: 0;
      width: 1px;
    }
  }
}

@mixin OverviewCard {
  .overview-card {
    @extend %base-grid;
    grid:
      [row1-start] "status cpu memory storage" min-content [row1-end]
      [row2-start] "test-warning cpu-tests memory-tests storage-tests" min-content [row2-end]
      [row3-start] "details details details details" min-content [row2-end]
      / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

    .overview-card__status {
      grid-area: status;
      padding: $spv-inner--large 0 0 $sph-inner;
    }

    .overview-card__cpu {
      @include pseudo-border(left);
      grid-area: cpu;
      padding: $spv-inner--large 0 0 0;
      &::after {
        top: $spv-inner--large;
      }
    }

    .overview-card__memory {
      @include pseudo-border(left);
      grid-area: memory;
      padding: $spv-inner--large 0 0 0;
      &::after {
        top: $spv-inner--large;
      }
    }

    .overview-card__storage {
      @include pseudo-border(left);
      grid-area: storage;
      padding: $spv-inner--large $sph-inner 0 0;
      &::after {
        top: $spv-inner--large;
      }
    }

    .overview-card__test-warning {
      grid-area: test-warning;
      padding: $spv-inner--large 0 $spv-inner--large $sph-inner;
    }

    .overview-card__cpu-tests {
      @include pseudo-border(left);
      grid-area: cpu-tests;
      padding: $spv-inner--large 0;
      &::after {
        bottom: $spv-inner--large;
      }
    }

    .overview-card__memory-tests {
      @include pseudo-border(left);
      grid-area: memory-tests;
      padding: $spv-inner--large 0;
      &::after {
        bottom: $spv-inner--large;
      }
    }

    .overview-card__storage-tests {
      @include pseudo-border(left);
      grid-area: storage-tests;
      padding: $spv-inner--large $sph-inner $spv-inner--large 0;
      &::after {
        bottom: $spv-inner--large;
      }
    }

    .overview-card__details {
      @include pseudo-border(top);
      display: flex;
      grid-area: details;
      padding: $spv-inner--large $sph-inner;

      > * {
        flex: 1 auto;
        padding-right: $sph-inner;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    @media only screen and (max-width: $breakpoint-large) {
      grid:
        [row1-start] "status cpu" min-content [row1-end]
        [row2-start] "test-warning cpu-tests" min-content [row2-end]
        [row3-start] "memory storage" min-content [row3-end]
        [row4-start] "memory-tests storage-tests" min-content [row4-end]
        [row5-start] "details details" min-content [row5-end]
        / minmax(0, 1fr) minmax(0, 1fr);

      .overview-card__status,
      .overview-card__memory {
        padding: $spv-inner--large 0 0 $sph-inner;
        &::before {
          content: none;
        }
      }

      .overview-card__test-warning,
      .overview-card__memory-tests {
        padding: $spv-inner--large 0 $spv-inner--large $sph-inner;
        &::before {
          content: none;
        }
      }

      .overview-card__cpu,
      .overview-card__storage {
        @include pseudo-border(left);
        padding: $spv-inner--large $sph-inner 0 0;
        &::after {
          top: $spv-inner--large;
        }
      }

      .overview-card__cpu-tests,
      .overview-card__storage-tests {
        @include pseudo-border(left);
        padding: $spv-inner--large $sph-inner $spv-inner--large 0;
        &::after {
          bottom: $spv-inner--large;
        }
      }

      .overview-card__memory {
        @include pseudo-border(top);
        &::before {
          right: -#{map-get($grid-gutter-widths, large)};
        }
      }

      .overview-card__storage {
        @include pseudo-border(top);
      }
    }

    @media only screen and (max-width: $breakpoint-medium) {
      grid:
        [row1-start] "status" min-content [row1-end]
        [row2-start] "test-warning" min-content [row2-end]
        [row3-start] "cpu" min-content [row3-end]
        [row4-start] "cpu-tests" min-content [row4-end]
        [row5-start] "memory" min-content [row5-end]
        [row6-start] "memory-tests" min-content [row6-end]
        [row7-start] "storage" min-content [row7-end]
        [row8-start] "storage-tests" min-content [row8-end]
        [row9-start] "details" min-content [row9-end]
        / 1fr;

      .overview-card__status {
        padding: $spv-inner--large $sph-inner 0 $sph-inner;
      }

      .overview-card__cpu,
      .overview-card__memory,
      .overview-card__storage {
        @include pseudo-border(top);
        padding: $spv-inner--large $sph-inner 0 $sph-inner;
        &::before {
          left: 0;
          right: 0;
        }
      }

      .overview-card__test-warning,
      .overview-card__cpu-tests,
      .overview-card__memory-tests,
      .overview-card__storage-tests,
      .overview-card__details {
        padding: $spv-inner--large $sph-inner;
      }

      .overview-card__details {
        flex-wrap: wrap;

        > * {
          flex: 1 50%;
          padding-bottom: $spv-inner--small;

          &:last-child,
          &:nth-last-child(2) {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .overview-card__placeholder {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: center;
  }
}
