{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended"],
  "globals": {
    "document": false,
    "window": false
  },
  "rules": {},
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "allowImportExportEverywhere": true
  }
}
