@import "~vanilla-framework/scss/settings_colors";
@import "~vanilla-framework/scss/settings_spacing";

.p-table-menu .p-contextual-menu__non-interactive {
  border-bottom: 1px solid $color-mid-light;
  color: $color-mid-dark;
  font-size: 0.75rem;
  font-weight: 400;
  padding: $spv-inner--x-small $sph-inner--small;
  text-transform: uppercase;
}
