@mixin FormCard {
  .form-card__buttons {
    border-top: $border;
    display: flex;
    justify-content: flex-end;
    padding-top: $spv-inner--large;

    &:not(.is-bordered) {
      margin-bottom: calc(#{$spv-inner--x-small--scaleable} - 2px);
    }
  }

  .form-card__help {
    @extend %small-text;
    color: $color-mid-dark;
    margin-top: $spv-inner--x-small;
  }
}
