@mixin VMsTable {
  .vms-table {
    .select-all-dropdown {
      display: inline-flex;
      margin-left: -0.8rem;
      margin-top: -$spv--small;
      padding: $sph--small;
      margin-right: $sph--small;
    }
  }
}
