@mixin maas-icon-edit($color) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eedit%3c/title%3e%3cg fill='" + vf-url-friendly-color(
      $color
    ) + "' fill-rule='evenodd'%3e%3cpath d='M17 15h5v1h-5zm-3 3h8v1h-8zm-3 3h11v1H11zm5.75-21L3.47 13.517S.956 17.465 0 21.987v.004l.002.004V22c4.532-.955 8.48-3.472 8.48-3.472L22 5.25 16.75 0zM4.51 14.555L7.454 17.5c-.2.114-2.99 2.064-5.544 2.602V20.093l-.002-.003c.537-2.546 2.485-5.334 2.602-5.537v.002z'/%3e%3cpath d='M2.234 18l1.85 1.85L1 21'/%3e%3c/g%3e%3c/svg%3e");
}

@mixin maas-icon-lock($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='12'%3E%3Cpath d='M6 0C3.793 0 2 1.793 2 4v3H0v9h12V7h-2V4c0-2.207-1.793-4-4-4zm0 1c1.67 0 3 1.33 3 3v3H3V4c0-1.67 1.33-3 3-3zm1 8.5V14H5v-4l2-.5z' fill='" + vf-url-friendly-color(
      $color
    ) + "' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@mixin maas-icon-power($color) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2214%22%3E%3Cpath%20d%3D%22M11.04%202.323l-.324%202.268a5.017%205.017%200%200%201%201.352%203.426c0%202.787-2.274%205.056-5.068%205.056s-5.067-2.269-5.067-5.056a5.02%205.02%200%200%201%201.351-3.426L2.96%202.323A6.935%206.935%200%200%200%200%208.017C0%2011.868%203.14%2015%207%2015s7-3.132%207-6.983a6.933%206.933%200%200%200-2.96-5.694zM6%200h2v7H6V0z%22%20fill%3D%22" + vf-url-friendly-color(
      $color
    ) + "%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}

@mixin maas-icon-tick($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h24v24H-1z'/%3E%3Cpath fill='" + vf-url-friendly-color(
      $color
    ) + "' fill-rule='nonzero' d='M2.872 5.933L.6 8.205l7.733 7.734L21.4 2.872 19.128.6 8.333 11.397z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin maas-icon-unknown($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='prototype--tables' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='207-group-selection' transform='translate%28-333.000000, -143.000000%29'%3E%3Cg id='Group' transform='translate%28333.000000, 141.000000%29'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cpath d='M2.79224377,3.71191136 C2.40443019,3.71191136 2.03324277,3.7590023 1.67867036,3.8531856 C1.32409795,3.94736889 0.952910526,4.09972194 0.565096953,4.31024931 L0,2.76454294 C0.409974349,2.53185479 0.878113712,2.34626108 1.40443213,2.20775623 C1.93075055,2.06925139 2.47091136,2 3.02493075,2 C3.68975402,2 4.23822499,2.09141183 4.67036011,2.27423823 C5.10249524,2.45706463 5.44598211,2.68697922 5.70083102,2.96398892 C5.95567994,3.24099861 6.13296349,3.54570471 6.23268698,3.87811634 C6.33241047,4.21052798 6.38227147,4.5318544 6.38227147,4.84210526 C6.38227147,5.21883845 6.31302008,5.55678521 6.17451524,5.85595568 C6.03601039,6.15512615 5.8614969,6.43213169 5.65096953,6.68698061 C5.44044216,6.94182953 5.21329762,7.18282435 4.96952909,7.4099723 C4.72576055,7.63712025 4.49861601,7.8698049 4.28808864,8.10803324 C4.07756127,8.34626158 3.90304778,8.59833662 3.76454294,8.86426593 C3.62603809,9.13019524 3.5567867,9.42936122 3.5567867,9.76177285 L3.5567867,9.95290859 C3.5567867,10.0249311 3.56232681,10.0941825 3.5734072,10.1606648 L1.84487535,10.1606648 C1.82271457,10.0498609 1.80609424,9.93074856 1.79501385,9.8033241 C1.78393346,9.67589964 1.77839335,9.55678726 1.77839335,9.44598338 C1.77839335,9.08033058 1.83933457,8.75346404 1.96121884,8.46537396 C2.0831031,8.17728388 2.2382262,7.91135856 2.4265928,7.66759003 C2.61495939,7.4238215 2.81717343,7.19667695 3.033241,6.98614958 C3.24930856,6.77562222 3.4515226,6.56509801 3.6398892,6.35457064 C3.82825579,6.14404327 3.98337889,5.92797895 4.10526316,5.70637119 C4.22714742,5.48476343 4.28808864,5.24099856 4.28808864,4.97506925 C4.28808864,4.60941645 4.16343615,4.30748042 3.91412742,4.06925208 C3.6648187,3.83102374 3.29086122,3.71191136 2.79224377,3.71191136 Z M4.08864266,12.6869806 C4.08864266,13.0747942 3.96122011,13.3905805 3.70637119,13.634349 C3.45152227,13.8781176 3.13573596,14 2.75900277,14 C2.39334997,14 2.08033371,13.8781176 1.8199446,13.634349 C1.55955548,13.3905805 1.42936288,13.0747942 1.42936288,12.6869806 C1.42936288,12.299167 1.55955548,11.9806107 1.8199446,11.7313019 C2.08033371,11.4819932 2.39334997,11.3573407 2.75900277,11.3573407 C3.13573596,11.3573407 3.45152227,11.4819932 3.70637119,11.7313019 C3.96122011,11.9806107 4.08864266,12.299167 4.08864266,12.6869806 Z' id='%3F' fill='" + vf-url-friendly-color(
      $color
    ) + "'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin maas-icon-circle($color) {
  @extend %icon;
  @include vf-icon-size(0.5rem);
  background-color: $color;
  border-radius: 100%;
  margin-bottom: $spv-inner--x-small;
  margin-top: $spv-inner--x-small;
}

@mixin maas-icons {
  $color-link--faded: #d3e4ed;
  $color-positive--faded: #4dab4d;

  .p-icon--edit {
    @extend %icon;
    @include maas-icon-edit($color-mid-dark);
  }

  .p-icon--locked {
    @extend %icon;
    @include maas-icon-lock($color-mid-dark);
  }

  .p-icon--pending {
    @extend %icon;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Epending%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='smoke-testing-status' transform='translate%28-62.000000, -112.000000%29'%3E%3Cg id='pending' transform='translate%2850.000000, 97.000000%29'%3E%3Cg transform='translate%2812.000000, 15.000000%29'%3E%3Crect id='rect4970' x='0' y='1.99999999e-05' width='16' height='16'%3E%3C/rect%3E%3Ccircle id='circle4972' stroke='%23F99B11' stroke-width='1.5' cx='8' cy='8.00002' r='7.2500086'%3E%3C/circle%3E%3Crect id='rect4980' fill='%23F99B11' fill-rule='nonzero' x='7' y='7.00002' width='2' height='2'%3E%3C/rect%3E%3Crect id='rect4982' fill='%23F99B11' fill-rule='nonzero' x='10' y='7.00002' width='2' height='2'%3E%3C/rect%3E%3Crect id='rect4984' fill='%23F99B11' fill-rule='nonzero' x='4' y='7.00002' width='2' height='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--power-error {
    @extend %icon;
    @include maas-icon-power($color-negative);
  }

  .p-icon--power-on {
    @extend %icon;
    @include maas-icon-power($color-positive);
  }

  .p-icon--power-off {
    @extend %icon;
    @include maas-icon-power($color-mid-light);
  }

  .p-icon--power-unknown {
    @extend %icon;
    @include maas-icon-unknown($color-mid-dark);
  }

  .p-icon--running {
    @extend %icon;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Erunning%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='smoke-testing-status' transform='translate%28-62.000000, -159.000000%29'%3E%3Cg id='running' transform='translate%2850.000000, 144.000000%29'%3E%3Cg transform='translate%2812.000000, 15.000000%29'%3E%3Crect id='rect6425' x='9.99999997e-06' y='9.99999989e-06' width='16' height='16'%3E%3C/rect%3E%3Ccircle id='circle6427' stroke='%230E8420' stroke-width='1.5' fill='%230E8420' fill-rule='nonzero' cx='8.00001' cy='8.00001' r='7.2500086'%3E%3C/circle%3E%3Cpolygon id='path6429' fill='%23FFFFFF' fill-rule='nonzero' points='6.00002 12.00001 6.00002 4.00001 12.00002 8.00001'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--tick {
    @extend %icon;
    @include maas-icon-tick($color-mid-dark);
  }

  .p-icon--timed-out {
    @extend %icon;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='16px' width='16px' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Etimed out%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' fill-rule='evenodd' fill='none'%3E%3Cg id='smoke-testing-status' transform='translate%28-62 -206%29'%3E%3Cg id='timed-out' transform='translate%2850 191%29'%3E%3Cg transform='translate%2812 15%29'%3E%3Crect id='rect4970' y='0.00002' x='0' height='16' width='16'/%3E%3Ccircle id='circle4972' stroke-width='1.5' cy='8' stroke='%23E95420' cx='8' r='7.25'/%3E%3Cpolyline id='path839' stroke='%23E95420' stroke-width='2' points='11.8 11.8 7.9999 8 7.9999 3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }

  .p-circle--link {
    @include maas-icon-circle($color-link);
  }

  .p-circle--link-faded {
    @include maas-icon-circle($color-link--faded);
  }

  .p-circle--positive {
    @include maas-icon-circle($color-positive);
  }

  .p-circle--positive-faded {
    @include maas-icon-circle($color-positive--faded);
  }

  .p-icon--disconnected {
    @extend %icon;
    background-image: url("data:image/svg+xml,%3Csvg id='Disconnect_2' data-name='Disconnect 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23c7162b%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M6.1 13.52l2.71-2.71-3.58-3.58L2.51 10l-.47 2.11-1.61 1.58a1.36 1.36 0 001.92 1.92L4 14l2.11-.47zM15.59 2.36A1.35 1.35 0 0013.68.45l-1.63 1.62-2.05.46-2.78 2.71 3.58 3.58 2.7-2.71L14 4zM13.01 9.48h2.98v1h-2.98z'/%3E%3Cpath class='cls-1' transform='rotate(-45.01 13.332 13.315)' d='M12.83 11.83h1v2.98h-1z'/%3E%3Cpath class='cls-1' d='M9.49 13.03h1v2.98h-1zM.02 5.53H3v1H.02z'/%3E%3Cpath class='cls-1' transform='rotate(-45 2.663 2.687)' d='M2.17 1.2h1v2.98h-1z'/%3E%3Cpath class='cls-1' d='M5.51 0h1v2.98h-1z'/%3E%3C/svg%3E");
    background-size: 100% 100%;
  }


  .p-icon--debug {
    @extend %icon;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Edebug icon 8@2x%3C/title%3E%3Cpath d='M11.673 12.994L14.68 16l1.313-1.316-3.004-3.005A5.501 5.501 0 0 0 8.5 3C5.46 3 3 5.463 3 8.5 3 11.54 5.46 14 8.5 14c1.18 0 2.276-.37 3.173-1.006zM4.25 8.5a4.25 4.25 0 1 1 8.5 0 4.25 4.25 0 0 1-8.5 0zM6 9h5v1H6V9zm0-2h5v1H6V7zM4.71 0C2.845 0 1.646.095.87.87.093 1.648 0 2.847 0 4.716v4.568c0 1.87.094 3.068.87 3.844.667.668 1.68.824 3.13.857v-1.002c-1.327-.044-2.075-.21-2.424-.56-.41-.41-.576-1.318-.576-3.14V4.716c0-1.82.167-2.727.576-3.137C1.986 1.168 2.892 1 4.71 1h4.577c1.82 0 2.726.17 3.135.578.348.35.514 1.097.558 2.422h1.006c-.033-1.45-.19-2.46-.857-3.13C12.352.096 11.153 0 9.286 0H4.71z' fill='gray' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 100% 100%;
  }

  .p-icon--audit,
  .p-icon--info {
    @extend %icon;
    @include vf-icon-info($color-mid-dark);
  }

  .p-icon--critical {
    @extend %icon;
    @include vf-icon-error();
  }

  [class*="p-circle--"].is-inline,
  [class*="p-icon--"].is-inline {
    margin-right: $sph-inner--small;
    top: 0;
  }
}
