@mixin maas-double-row {
  $icon-space: map-get($icon-sizes, default) + $sph-inner--small;

  .p-double-row {
    display: grid;
    grid:
      [row1-start] "primary-row menu" auto [row1-end]
      [row2-start] "secondary-row menu" auto [row2-end] / auto auto;
  }

  .p-double-row--with-icon {
    display: grid;
    grid:
      [row1-start] "icon primary-row menu" auto [row1-end]
      [row2-start] "icon secondary-row menu" auto [row2-end] /
      $icon-space auto auto;
  }

  .p-double-row__icon {
    grid-area: icon;
  }

  .p-double-row__primary-row {
    grid-area: primary-row;
  }

  .p-double-row__secondary-row {
    @extend %small-text;
    color: $color-mid-dark;
    grid-area: secondary-row;
  }

  .p-double-row__icon-space {
    padding-left: $icon-space;
  }

  .p-double-row .p-table-menu {
    grid-area: menu;
  }
}
