.p-table-expanding--light .p-table-expanding__panel {
  border-top: 1px solid $color-mid-light;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding-top: 0.5rem;
}

.p-table-expanding--light .p-table__row.is-active {
  background-color: $color-x-light;
}
