@mixin maas-grids {
  %base-grid {
    display: grid;
    grid-column-gap: map-get($grid-gutter-widths, large);

    @media only screen and (max-width: $breakpoint-medium) {
      grid-column-gap: map-get($grid-gutter-widths, medium);
    }

    @media only screen and (max-width: $breakpoint-small) {
      grid-column-gap: map-get($grid-gutter-widths, small);
    }
  }
}
