.p-table-expanding--light .p-table-expanding__panel {
  border-top: 1px solid $color-mid-light;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding-top: 0.5rem;
}

.p-table-expanding--light .p-table__row.is-active {
  background-color: $color-x-light;
}

.p-table--sortable th[role="columnheader"][aria-sort].p-table-multi-header {
  &::after {
    display: none;
  }

  &[aria-sort]:hover {
    color: $color-mid-dark;
    text-decoration: none;
  }
}

.p-table-multi-header .p-table-multi-header__link {
  color: $color-mid-dark;

  &:hover {
    color: $color-link;
  }
}

.p-table-multi-header[aria-sort="descending"],
.p-table-multi-header[aria-sort="ascending"] {
  .p-table-multi-header__link.is-active::after {
    @extend %heading-icon;
    height: map-get($line-heights, default-text);
  }
}

.p-table-multi-header[aria-sort="descending"]
  .p-table-multi-header__link.is-active::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.p-table-multi-header__spacer {
  margin-left: $sp-x-small;
  margin-right: $sp-x-small;
}

.p-table-sub-cols {
  flex-direction: column;
}

.p-table-sub-cols__list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.p-table-sub-cols__item {
  @extend %single-border-text-vpadding--scaling;
  border-bottom: 1px solid $color-mid-light;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
