@mixin maas-notifications {
  .p-notification--group {
    @extend %vf-has-box-shadow;
    @extend %vf-has-round-corners;
    @extend %vf-card;
    padding: 0;

    [class^="p-notification"] {
      box-shadow: none;
    }

    [class^="p-notification"]:first-child {
      margin-bottom: 0;
    }

    [class^="p-notification"] + [class^="p-notification"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: $border;
      margin-bottom: 0;
      margin-top: 0;

      &:before {
        display: none;
      }

      .p-notification__response {
        padding-top: $spv-inner--x-small--scaleable;
      }

      .p-icon--close {
        margin-top: $spv-inner--small;
      }
    }
  }

  .p-notification--has-menu {
    .p-notification__response {
      display: flex;
      flex: 1;
    }

    .p-notification__menu-button {
      border: 0;
      flex: 0;
      margin: 0 0 auto auto;

      [class^="p-button"] {
        margin: 0;
        padding: 0 $spv-inner--small;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .p-contextual-menu__dropdown.p-notification__menu {
    width: 18rem;
    padding: $spv-inner--large;
  }
}
