@mixin maas-status-bar {
  .p-status-bar {
    background-color: $color-mid-x-light;
    bottom: 0;
    left: 0;
    padding: $spv-inner--small 0;
    position: sticky;
    right: 0;
    z-index: 1;
  }
}
