@mixin maas-utilities {
  // Vertically align checkboxes in double row table headers
  .u-align-header-checkbox {
    top: -$form-tick-box-nudge;
  }

  .u-break-word {
    word-break: break-word !important;
  }

  .u-break-spaces {
    white-space: break-spaces !important;
  }

  .u-no-wrap {
    white-space: nowrap;
  }

  .u-default-text {
    color: $color-dark !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    text-transform: none !important;
  }

  .u-display-inline {
    display: inline;
  }

  .u-display-inline-important {
    display: inline !important;
  }

  .u-display-inline-block {
    display: inline-block !important;
  }

  .u-flex {
    display: flex;
  }

  .u-block {
    display: block !important;
  }

  .u-flex--align-baseline {
    align-items: baseline;
    display: flex;
  }

  .u-flex--align-center {
    align-items: center;
    display: flex;
  }

  .u-flex--grow {
    flex-grow: 1;
  }

  .u-flex--no-shrink {
    flex-shrink: 0;
  }

  .u-flex--between {
    display: flex;
    justify-content: space-between;
  }

  .u-flex--end {
    display: flex;
    justify-content: flex-end;
  }

  .u-flex--vertically {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .u-flex--column-align-end {
    align-items: flex-end;
    display: flex !important;
    flex-direction: column;
  }

  .u-flex--column-x-small {
    @media only screen and (max-width: $breakpoint-x-small) {
      flex-direction: column;
    }
  }

  .u-flex--wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .u-no-text-transform {
    text-transform: none !important;
  }

  .u-nudge-down {
    padding-top: $sph--large !important;
  }

  .u-nudge-down--small {
    padding-top: $sph--small !important;
  }

  .u-nudge-down--x-small {
    padding-top: $sp-x-small !important;
  }

  .u-nudge-left--x-large {
    padding-right: $sph--large * 2 !important;
  }

  .u-nudge-left--large {
    padding-right: $sph--large !important;
  }

  .u-nudge-left {
    padding-right: $sph--large !important;
  }

  .u-nudge-left--small {
    padding-right: $sph--small !important;
  }

  .u-nudge-left--x-small {
    padding-right: $sp-x-small !important;
  }

  .u-nudge-right--x-large {
    padding-left: $sph--large * 2 !important;
  }

  .u-nudge-right--large {
    padding-left: $sph--large !important;
  }

  .u-nudge-right {
    padding-left: $sph--large !important;
  }

  .u-nudge-right--small {
    padding-left: $sph--small !important;
  }

  .u-nudge-right--x-small {
    padding-left: $sp-x-small !important;
  }

  .u-nudge-up--x-small {
    margin-top: -$sp-x-small !important;
  }
  .u-nudge-down--x-small {
    margin-bottom: $sp-x-small !important;
  }

  .u-rotate-left {
    transform: rotate(-90deg) !important;
  }

  .u-rotate-right {
    transform: rotate(90deg) !important;
  }

  .u-text--light {
    color: $color-mid-dark !important;
  }

  .u-position--relative {
    position: relative !important;
  }

  .u-upper-case--first:first-letter {
    text-transform: capitalize;
  }

  .u-width--auto {
    width: auto;
  }

  .u-width--full {
    width: 100%;
  }

  .u-text--default-size {
    font-size: map-get($base-font-sizes, base);
    font-weight: $font-weight-regular-text;
  }

  .u-no-border--top {
    border-top: 0 !important;
  }

  .u-visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .p-text--code {
    font-family: unquote($font-monospace);
  }
}
