@mixin maas-utilities {
  .u-display-inline {
    display: inline;
  }

  .u-display-inline-block {
    display: inline-block !important;
  }

  .u-flex {
    display: flex;
  }

  .u-flex--between {
    display: flex;
    justify-content: space-between;
  }

  .u-flex--wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .u-mirror--y {
    transform: rotate(180deg);
  }

  .u-no-text-transform {
    text-transform: none !important;
  }

  .u-nudge-right {
    padding-left: $sph-inner !important;
  }

  .u-nudge-right--small {
    padding-left: $sph-inner--small !important;
  }

  .u-text--light {
    color: $color-mid-dark;
  }

  .u-upper-case--first:first-letter {
    text-transform: capitalize;
  }
}
