/**
 * Vanilla overrides.
 * {Date} {Person}: {Description of issue}
 * {Link to relevant GitHub issue}
 */

@import "~vanilla-framework/scss/settings_colors";
@import "~vanilla-framework/scss/settings_spacing";
@import "~vanilla-framework/scss/patterns_icons";
@import "~vanilla-framework/scss/global_functions";

// 19-08-2019 Caleb: Form submit button too close to input when $multi = 1
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2497
.p-form__group:last-child {
  margin-bottom: $spv-outer--medium;
}

// 09-12-2019 Huw: Truncate does not show ellipsis with expanding tables.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2697
.p-table-expanding td.u-truncate {
  display: block;
}

// 27-11-2019 Caleb: Tooltips cannot be used with React Portals.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2672
.p-tooltip__message--portal {
  display: inline;
}

// 28-01-2020 Caleb: Increase density of table headers
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2501
%table-header-typography {
  color: $color-mid-dark;
  font-size: pow($ms-ratio, -2) * 1rem;
  font-weight: 400;
  line-height: 1rem;
}
thead th {
  @extend %table-header-typography;
  padding-bottom: 0.35rem;

  .p-button--link {
    @extend %table-header-typography;
    &:hover {
      color: $color-link;
    }
    &:active {
      background-color: transparent !important;
    }
    &:focus {
      color: $color-link;
      outline: 0;
      text-decoration: underline;
    }
  }

  .p-icon--contextual-menu {
    @include vf-icon-size(0.875rem);
    margin-left: $sp-x-small;
  }
}

// 03-02-2020 Caleb: Cannot give label a className when using Input component.
// https://github.com/canonical-web-and-design/react-components/issues/67
input[type="checkbox"],
input[type="radio"] {
  &.has-inline-label + label {
    display: inline;
    padding-top: 0;

    &::before {
      left: 0rem;
      top: 0.125rem;
    }

    &::after {
      left: 0.1875rem;
      top: 0.375rem;
    }
  }
}

// 04-02-2020 Caleb: Allow option to only change input opacity when disabled.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2813
input[disabled],
input[disabled="disabled"] {
  &[type="checkbox"].keep-label-opacity + label {
    opacity: 1;

    &::before,
    &::after {
      opacity: 0.5;
    }
  }
}
