/**
 * Vanilla overrides.
 * {Date} {Person}: {Description of issue}
 * {Link to relevant GitHub issue}
 */

// 27-11-2019 Caleb: Tooltips cannot be used with React Portals.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2672
.p-tooltip__message--portal {
  display: inline;
}

// 10-03-2020 Caleb: Spacing around checkboxes/radios too tight when $multi = 1
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2913
input[type="checkbox"],
input[type="radio"] {
  + label {
    margin-bottom: 0.6rem;

    .p-list__item:not(:first-child) &,
    .p-form__group:not(:first-child) & {
      margin-top: -0.5rem;
    }
  }
}
.p-form-help-text,
.p-form-validation__message {
  line-height: 1.5rem;
  margin-bottom: 0.8rem;
  margin-top: -0.5rem;
}

// 10-07-2020 Caleb: Slider input misaligned when using type="number" + wrapper
// should mirror normal form field spacing.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3163
.p-slider__wrapper {
  margin-bottom: $input-margin-bottom;
}
.p-slider__input {
  -moz-appearance: textfield;
  height: auto;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// 26-03-2021 Huw: Set the background of the back-to-top link to match the grey
// background of maas-ui.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3667
.p-top .p-top__link {
  background-color: $color-light;
}

// 02-08-2021 Caleb: Notification padding too tight when $multi = 1.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3898
.p-notification__content,
.p-notification__response {
  margin-bottom: $spv-outer--medium - $spv-nudge !important;
}

// 02-08-2021 Caleb: Tab background overlaps hr when focused.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3878
hr.u-no-margin--bottom {
  z-index: 2 !important;
}
