// Vanilla settings:
@import "./vanilla";
@import "./vanilla-overrides";
@import "./patterns_button";
@import "./patterns_footer";
@import "./patterns_navigation";
@import "./patterns_table";
@import "./patterns_table-actions";

@include maas-navigation;
@include maas-p-sticky-footer;

html {
  height: 100%;
}

body {
  background-color: $color-light;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.p-icon--chevron {
  @extend %icon;
  @include vf-icon-chevron($color-mid-dark);
}

@mixin maas-icon-edit($color) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eedit%3c/title%3e%3cg fill='"+vf-url-friendly-color(
      $color
    )+"' fill-rule='evenodd'%3e%3cpath d='M17 15h5v1h-5zm-3 3h8v1h-8zm-3 3h11v1H11zm5.75-21L3.47 13.517S.956 17.465 0 21.987v.004l.002.004V22c4.532-.955 8.48-3.472 8.48-3.472L22 5.25 16.75 0zM4.51 14.555L7.454 17.5c-.2.114-2.99 2.064-5.544 2.602V20.093l-.002-.003c.537-2.546 2.485-5.334 2.602-5.537v.002z'/%3e%3cpath d='M2.234 18l1.85 1.85L1 21'/%3e%3c/g%3e%3c/svg%3e");
}

.p-icon--edit {
  @extend %icon;
  @include maas-icon-edit($color-mid-dark);
}

.p-form-validation__message [class*="p-icon--"] {
  @extend %icon;
  @include vf-icon-size(0.875rem);
}

.u-text--light {
  color: $color-mid-dark;
}

.p-modal {
  // The modal needs to be above the header nav items.
  z-index: 10;
  // The modal needs to cover the screen when scrolling.
  position: fixed;
}

.u-upper-case--first:first-letter {
  text-transform: capitalize;
}