// Vanilla settings:
@import "./vanilla";
@import "./vanilla-overrides";
@import "./patterns_button";
@import "./patterns_double-row";
@import "./patterns_footer";
@import "./patterns_icons";
@import "./patterns_navigation";
@import "./patterns_table";
@import "./patterns_table-actions";

@include maas-navigation;
@include maas-p-sticky-footer;
@include maas-double-row;

html {
  height: 100%;
}

body {
  background-color: $color-light;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.p-form-validation__message [class*="p-icon--"] {
  @extend %icon;
  @include vf-icon-size(#{map-get($font-sizes, small)}rem);
}

.u-text--light {
  color: $color-mid-dark;
}

.p-modal {
  // The modal needs to be above the header nav items.
  z-index: 10;
  // The modal needs to cover the screen when scrolling.
  position: fixed;
}

.u-upper-case--first:first-letter {
  text-transform: capitalize;
}

  //XXX can be removed / replaced with whatever mixin will contain the placeholders %vf-list, %vf-list-item used below, once  this is fixed: https://github.com/canonical-web-and-design/vanilla-framework/issues/2808
%vf-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

// Mixin for list items
%vf-list-item {
  padding-bottom: $spv-list-item--inner;
  padding-top: $spv-list-item--inner;

  form & {
    padding-bottom: 0;
    padding-top: 0;

    label {
      margin-bottom: $spv-nudge-compensation;
    }
  }
}