// Vanilla settings:
@import "./vanilla";
@import "./vanilla-overrides";
@import "./patterns_button";
@import "./patterns_double-row";
@import "./patterns_footer";
@import "./patterns_icons";
@import "./patterns_navigation";
@import "./patterns_table";
@import "./patterns_table-actions";

@include maas-navigation;
@include maas-p-sticky-footer;
@include maas-double-row;

html {
  height: 100%;
}

body {
  background-color: $color-light;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.p-form-validation__message [class*="p-icon--"] {
  @extend %icon;
  @include vf-icon-size(#{map-get($font-sizes, small)}rem);
}

.u-text--light {
  color: $color-mid-dark;
}

.u-mirror--y {
  transform: rotate(180deg);
}

.p-modal {
  // The modal needs to be above the header nav items.
  z-index: 10;
  // The modal needs to cover the screen when scrolling.
  position: fixed;
}

.u-upper-case--first:first-letter {
  text-transform: capitalize;
}

a:visited {
  color: $color-link;
}
