@use 'sass:math';

// Import settings
@import "./settings";

// Import and include Vanilla classes/placeholders needed for custom styling.
// NOTE: If you add another mixin here be sure to check every instance of that
// component as it alters the class ordering in Vanilla and may cause
// regressions.
@import "~vanilla-framework/scss/vanilla";
@include vf-b-placeholders;
@include vf-b-button;
@include vf-b-grid-definitions;
@include vf-p-icons-common;
@include vf-p-icon-back-to-top;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-change-version;
@include vf-p-icon-inspector-debug;
@include vf-p-icon-restart;
@include vf-p-icon-success-grey;
@include vf-p-lists;
@include vf-u-baseline-grid;

// Import MAAS overrides of Vanilla patterns
@import "./vanilla-overrides";

// Import MAAS global mixins
@import "./breakpoint-widths";
@import "./truncated-border";

// Import and include MAAS global styles
@import "./patterns_buttons";
@import "./patterns_cards";
@import "./patterns_contextual-menu";
@import "./patterns_double-row";
@import "./patterns_footer";
@import "./patterns_forms";
@import "./patterns_grids";
@import "./patterns_icons";
@import "./patterns_links";
@import "./patterns_lists";
@import "./patterns_navigation";
@import "./patterns_notifications";
@import "./patterns_status-bar";
@import "./patterns_switches";
@import "./patterns_table-actions";
@import "./patterns_tables";
@import "./patterns_tabs";
@import "./patterns_typography";
@import "./utilities";
@include maas-buttons;
@include maas-cards;
@include maas-contextual-menu;
@include maas-double-row;
@include maas-footer;
@include maas-forms;
@include maas-grids;
@include maas-icons;
@include maas-links;
@include maas-lists;
@include maas-navigation;
@include maas-notifications;
@include maas-status-bar;
@include maas-switches;
@include maas-table-actions;
@include maas-tables;
@include maas-tabs;
@include maas-typography;
@include maas-utilities;

// Import and include MAAS component styles
// base
@import "~app/base/components/ColumnToggle";
@import "~app/base/components/DoughnutChart";
@import "~app/base/components/FilterAccordion";
@import "~app/base/components/FormCard";
@import "~app/base/components/FormikFormButtons";
@import "~app/base/components/LabelledList";
@import "~app/base/components/Login";
@import "~app/base/components/Meter";
@import "~app/base/components/NotificationGroup";
@import "~app/base/components/Placeholder";
@import "~app/base/components/Popover";
@import "~app/base/components/Section";
@import "~app/base/components/SSHKeyList";
@import "~app/base/components/Stepper";
@import "~app/base/components/TableMenu";
@import "~app/base/components/TagSelector";
@include ColumnToggle;
@include DoughnutChart;
@include FilterAccordion;
@include FormCard;
@include FormikFormButtons;
@include LabelledList;
@include Login;
@include Meter;
@include NotificationGroup;
@include Placeholder;
@include Popover;
@include Section;
@include SSHKeyList;
@include Stepper;
@include TableMenu;
@include TagSelector;

// images
@import "~app/images/components/ImagesTable";
@include ImagesTable;

// intro
@import "~app/intro/views/MaasIntro";
@include MaasIntro;

// kvm
@import "~app/kvm/components/CertificateDownload";
@import "~app/kvm/components/CertificateMetadata";
@import "~app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable";
@import "~app/kvm/components/KVMHeaderForms/ComposeForm/InterfacesTable/SubnetSelect";
@import "~app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable";
@import "~app/kvm/components/KVMHeaderForms/ComposeForm/StorageTable/PoolSelect";
@import "~app/kvm/components/PodMeter";
@import "~app/kvm/views/KVMDetails/CoreResources";
@import "~app/kvm/views/KVMDetails/KVMDetailsHeader";
@import "~app/kvm/views/KVMDetails/KVMResources/KVMStorageCards";
@import "~app/kvm/views/KVMDetails/KVMResources/NumaResources";
@import "~app/kvm/views/KVMDetails/KVMResources/NumaResources/NumaResourcesCard";
@import "~app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard";
@import "~app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallCores";
@import "~app/kvm/views/KVMDetails/KVMResources/OverallResourcesCard/OverallRam";
@import "~app/kvm/views/KVMDetails/KVMResources/ProjectResourcesCard";
@import "~app/kvm/views/KVMDetails/KVMSettings/AuthenticationCard";
@import "~app/kvm/views/KVMDetails/LxdProject/ProjectSummaryCard";
@import "~app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsActionBar";
@import "~app/kvm/views/KVMDetails/LxdProject/ProjectVMs/VMsTable";
@import "~app/kvm/views/KVMDetails/RamResources";
@import "~app/kvm/views/KVMDetails/StorageResources";
@import "~app/kvm/views/KVMDetails/StorageResources/StorageCards";
@import "~app/kvm/views/KVMDetails/StorageResources/StorageMeters";
@import "~app/kvm/views/KVMDetails/VfResources";
@import "~app/kvm/views/KVMDetails/VmResources";
@import "~app/kvm/views/KVMList/CPUColumn/CPUPopover";
@import "~app/kvm/views/KVMList/LxdTable";
@import "~app/kvm/views/KVMList/RAMColumn/RAMPopover";
@import "~app/kvm/views/KVMList/StorageColumn/StoragePopover";
@import "~app/kvm/views/KVMList/VirshTable";
@include AuthenticationCard;
@include CertificateDownload;
@include CertificateMetadata;
@include CoreResources;
@include CPUPopover;
@include KVMComposeInterfacesTable;
@include KVMComposeStorageTable;
@include KVMDetailsHeader;
@include KVMPoolSelect;
@include KVMStorageCards;
@include KVMSubnetSelect;
@include LxdTable;
@include NumaResources;
@include NumaResourcesCard;
@include OverallCores;
@include OverallRam;
@include OverallResourcesCard;
@include PodMeter;
@include ProjectResourcesCard;
@include ProjectSummaryCard;
@include RamResources;
@include RAMPopover;
@include StorageCards;
@include StorageMeters;
@include StoragePopover;
@include StorageResources;
@include VfResources;
@include VmResources;
@include VirshTable;
@include VMsActionBar;
@include VMsTable;

// Dashboard
@import "~app/dashboard/views/DiscoveriesList";
@include DiscoveriesList;

// machines
@import "~app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields";
@import "~app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneFormFields/SourceMachineSelect";
@import "~app/machines/components/MachineHeaderForms/ActionFormWrapper/CloneForm/CloneResults";
@import "~app/machines/components/MachineHeaderForms/ActionFormWrapper/MarkBrokenForm/MarkBrokenFormFields";
@import "~app/machines/components/TakeActionMenu";
@import "~app/machines/views/MachineDetails/MachineHeader/MachineName";
@import "~app/machines/views/MachineDetails/MachineLogs/DownloadMenu";
@import "~app/machines/views/MachineDetails/MachineLogs/EventLogs/EventLogsTable";
@import "~app/machines/views/MachineDetails/MachineNetwork/DHCPTable";
@import "~app/machines/views/MachineDetails/MachineNetwork/NetworkTable";
@import "~app/machines/views/MachineDetails/MachineSummary";
@import "~app/machines/views/MachineDetails/MachineSummary/NetworkCard";
@import "~app/machines/views/MachineDetails/MachineSummary/NumaCard";
@import "~app/machines/views/MachineDetails/MachineSummary/OverviewCard";
@import "~app/machines/views/MachineDetails/MachineTests/MachineTestsTable";
@import "~app/machines/views/MachineDetails/NodeDevices";
@import "~app/machines/views/MachineList";
@include CloneFormFields;
@include CloneResults;
@include DownloadMenu;
@include EventLogsTable;
@include MachineDHCPTable;
@include MachineList;
@include MachineName;
@include MachineNetworkTable;
@include MachineSummary;
@include MachineTestsTable;
@include MarkBrokenFormFields;
@include NetworkCard;
@include NodeDevices;
@include NumaCard;
@include OverviewCard;
@include SourceMachineSelect;
@include TakeActionMenu;

// preferences
@import "~app/preferences/views/APIKeys/APIKeyList";
@import "~app/preferences/views/SSLKeys/AddSSLKey";
@import "~app/preferences/views/SSLKeys/SSLKeyList";
@include APIKeyList;
@include AddSSLKey;
@include SSLKeyList;

// settings
@import "~app/settings/components/SettingsTable";
@import "~app/settings/views/Dhcp/DhcpList";
@import "~app/settings/views/LicenseKeys/LicenseKeyList";
@import "~app/settings/views/Repositories/RepositoriesList";
@import "~app/settings/views/Repositories/RepositoryFormFields";
@import "~app/settings/views/Scripts/ScriptsList";
@import "~app/settings/views/Scripts/ScriptsUpload";
@import "~app/settings/views/Users/UsersList";
@include SettingsTable;
@include DhcpList;
@include LicenseKeyList;
@include RepositoriesList;
@include RepositoryFormFields;
@include ScriptsList;
@include ScriptsUpload;
@include UsersList;

#maas-ui {
  background-color: $color-light;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
