// Import settings
@import "./settings";

// Import and include Vanilla classes/placeholders needed for custom styling.
// NOTE: If you add another mixin here be sure to check every instance of that
// component as it alters the class ordering in Vanilla and may cause
// regressions.
@import "~vanilla-framework/scss/vanilla";
@include vf-b-placeholders;
@include vf-b-button;
@include vf-b-grid-definitions;
@include vf-p-icons-common;
@include vf-p-lists;
@include vf-u-baseline-grid;

// Import MAAS overrides of Vanilla patterns
@import "./vanilla-overrides";

// Import MAAS global mixins
@import "./breakpoint-widths";

// Import and include MAAS global styles
@import "./patterns_buttons";
@import "./patterns_cards";
@import "./patterns_contextual-menu";
@import "./patterns_double-row";
@import "./patterns_footer";
@import "./patterns_forms";
@import "./patterns_icons";
@import "./patterns_links";
@import "./patterns_lists";
@import "./patterns_navigation";
@import "./patterns_notifications";
@import "./patterns_table-actions";
@import "./patterns_tables";
@import "./patterns_tabs";
@import "./utilities";
@include maas-buttons;
@include maas-cards;
@include maas-contextual-menu;
@include maas-double-row;
@include maas-footer;
@include maas-forms;
@include maas-icons;
@include maas-links;
@include maas-lists;
@include maas-navigation;
@include maas-notifications;
@include maas-table-actions;
@include maas-tables;
@include maas-tabs;
@include maas-utilities;

// Import and include MAAS component styles
// base
@import "~app/base/components/ColumnToggle";
@import "~app/base/components/FormCard";
@import "~app/base/components/Login";
@import "~app/base/components/Meter";
@import "~app/base/components/Popover";
@import "~app/base/components/Section";
@import "~app/base/components/TableMenu";
@import "~app/base/components/TagSelector";
@include ColumnToggle;
@include FormCard;
@include Login;
@include Meter;
@include Popover;
@include Section;
@include TableMenu;
@include TagSelector;

// kvm
@import "~app/kvm/views/KVMList/KVMListTable/CPUColumn/CPUPopover";
@import "~app/kvm/views/KVMList/KVMListTable/RAMColumn/RAMPopover";
@import "~app/kvm/views/KVMList/KVMListTable/StorageColumn/StoragePopover";
@import "~app/kvm/views/KVMList/KVMListTable";
@import "~app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable";
@import "~app/kvm/components/KVMActionFormWrapper/ComposeForm/InterfacesTable/SubnetSelect";
@import "~app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable";
@import "~app/kvm/components/KVMActionFormWrapper/ComposeForm/StorageTable/PoolSelect";
@include CPUPopover;
@include RAMPopover;
@include StoragePopover;
@include KVMListTable;
@include KVMComposeInterfacesTable;
@include KVMSubnetSelect;
@include KVMComposeStorageTable;
@include KVMPoolSelect;

// machines
@import "~app/machines/views/MachineList";
@import "~app/machines/views/MachineList/MachineListControls/FilterAccordion";
@include MachineList;
@include FilterAccordion;

// preferences
@import "~app/preferences/views/APIKeys/APIKeyList";
@import "~app/preferences/views/SSHKeys/SSHKeyList";
@import "~app/preferences/views/SSLKeys/AddSSLKey";
@import "~app/preferences/views/SSLKeys/SSLKeyList";
@include APIKeyList;
@include SSHKeyList;
@include AddSSLKey;
@include SSLKeyList;

// settings
@import "~app/settings/components/SettingsTable";
@import "~app/settings/views/Dhcp/DhcpList";
@import "~app/settings/views/LicenseKeys/LicenseKeyList";
@import "~app/settings/views/Repositories/RepositoriesList";
@import "~app/settings/views/Repositories/RepositoryFormFields";
@import "~app/settings/views/Scripts/ScriptsList";
@import "~app/settings/views/Scripts/ScriptsUpload";
@import "~app/settings/views/Users/UsersList";
@include SettingsTable;
@include DhcpList;
@include LicenseKeyList;
@include RepositoriesList;
@include RepositoryFormFields;
@include ScriptsList;
@include ScriptsUpload;
@include UsersList;

#maas-ui {
  background-color: $color-light;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
