@mixin SSHKeysTable {
  .p-generic-table {
    margin-bottom: 10%;

    .source, .id {
      width: 20%;
    }

    .keys {
      width: 50%;
    }
  }

  @media screen and (max-width: 500px) {
    .p-generic-table {
      .source {
        display: none;
      }
    }
  }
}