//does not work with colors containing alpha
@function encodecolor($string) {
  @if type-of($string) == "color" {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote("#{$hex}");
  }
  $string: "%23" + $string;
  @return $string;
}

.u-position-relative {
  position: relative;
}

.u-width--auto {
  width: auto !important;
}

.u-flex--no-wrap {
  display: flex;
  flex-wrap: wrap;
}

.u-flex--space-between {
  display: flex;
  justify-content: space-between;
}

$table-h-indent: $sph--small;

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-disable {
  opacity: 0.5;
  pointer-events: none !important;
  user-select: none;
}

.u-rotate {
  transform: rotate(180deg);
}
