// Import MAAS-specific Vanilla configuration
@import "settings";

// Import and include Vanilla classes/placeholders needed for custom styling.
// NOTE: If you add another mixin here be sure to check every instance of that
// component as it alters the class ordering in Vanilla and may cause
// regressions.
@import "~vanilla-framework/scss/vanilla";
@include vf-b-placeholders;
@include vf-b-grid-definitions;
@include vf-b-typography-definitions;
@include vf-b-button;
@include vf-p-icons-common;
@include vf-p-lists;

@import "2.0-migration";

@import "utils";
// Import local patterns
@import "maas";
@import "base_typography";
@import "base_forms";
@import "base_links";
@import "lists";
@import "grids";
@import "patterns_action-button";
@import "patterns_button";
@import "patterns_cta";
@import "patterns_code";
@import "patterns_icons";
@import "patterns_numa";
@import "patterns_page-header";
@import "patterns_tabs";
@import "patterns_switch";
@import "patterns_card";
@import "patterns_strips";
@import "patterns_tag-input";
@import "patterns_forms";
@import "patterns_hr";
@import "patterns_notification";
@import "patterns_footer";
@import "patterns_search-box";
@import "tables";
@import "patterns_space-between";
@import "patterns_filter";
@import "patterns_slider";

// Include local patterns
@include maas;

@include maas-b-forms;
@include maas-b-links;
@include maas-action-button;
@include maas-icons;
@include maas-numa-card;
@include maas-page-header;
@include maas-tabs;
@include maas-switch;
@include maas-cards;
@include maas-p-strip;
@include maas-tag-input;
@include maas-p-buttons;
@include maas-p-cta;
@include maas-p-code;
@include maas-p-forms;
@include maas-p-hr;
@include maas-p-notifications;
@include maas-p-search-box;
@include maas-p-sticky-footer;
@include maas-p-filter;
@include patterns_space-between;
