{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3.8,
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["angularjs-annotate", { "explicitOnly": true }],
    "@babel/plugin-proposal-class-properties"
  ]
}
