@mixin LabelledList {
  .p-list--labelled {
    @extend %vf-list;

    .p-list__item {
      @extend %vf-list-item;
      display: flex;
      // Vanilla lists have a different padding inside forms, but since this is
      // a custom component we need to make sure it doesn't change.
      padding: $spv-inner--x-small--scaleable 0 !important;
      word-wrap: break-word;
    }

    .p-list__item-label {
      color: $color-mid-dark;
      flex: 1 0 0;
      margin-right: $sph-outer;
      text-align: right;
    }

    .p-list__item-value {
      flex: 2 1 0;
    }
  }
}
