.dhcp-list td,
.dhcp-list th {
  // Snippet name:
  &:nth-child(1) {
    flex: 0 0 20%;
  }

  // Type
  &:nth-child(2) {
    flex: 0 0 8%;
  }

  // Applies to
  &:nth-child(3) {
    flex: 0 0 12%;
  }

  // Description
  &:nth-child(4) {
    flex: 0 0 30%;
  }

  // Enabled
  &:nth-child(5) {
    flex: 0 0 8%;
  }

  // Last edited
  &:nth-child(6) {
    flex: 0 0 14%;
  }
}
