@mixin MachineSelectTable {
  .p-generic-table.machine-select-table {
    tr.p-generic-table__individual-row {
      cursor: pointer;

      &:hover {
        background-color: var(--vf-color-background-hover);
      }
    }

    // The default <strong> font-weight is a bit subtle for highlighting
    // substrings, so it's increased slightly here.
    strong {
      font-weight: 600;
    }

    th.p-column-header.owner {
      text-align: left;
    }

    td {
      padding: 0;
    }

    .machine-select-table__cell {
      padding: 0.75rem;
    }
  }
}
