@import "~vanilla-framework/scss/settings_colors";
@import "~vanilla-framework/scss/base_typography-max-widths";
@import "~vanilla-framework/scss/base_placeholders";

@include vf-b-placeholders;

.section {
  display: grid;
  grid-template-rows: auto 1fr;
  height: auto;
}

.section__header {
  @extend %vf-has-box-shadow;
  background-color: #fff;
}

.section__header .p-icon--spinner {
  height: $spv-inner--large;
  width: $spv-inner--large;
}
