.p-generic-table {
  thead,
  tbody {
    display: table-row-group;
    width: 100%;
  }

  .group-select,
  .select,
  .select-alignment {
    width: 2rem;
  }

  th.select {
    display: none;
  }
}

.p-pagination {
  z-index: 2;
}