.p-generic-table {
  thead,
  tbody {
    display: table-row-group;
    width: 100%;
  }

  .group-select,
  .select,
  .select-alignment {
    width: 2rem;
  }

  th.select {
    display: none;
  }
}

.p-pagination {
  z-index: 2;
  padding-right: 2rem;
}

.controls-bar {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 1rem;

  .p-form--inline {
    width: 100%;
  }

  .controls-bar__left {
    margin: 0;
    padding: 0;
  }

  .controls-bar__right {
    width: 100%;
    margin-left: auto;
    margin-right: 0;

    @media screen and (min-width: 620px) {
      width: auto;
    }
  }
}
