.p-generic-table.event-logs-table {
  th, td {
    &.time {
      width: 30%;
    }

    &.event {
      text-align: left !important;
    }
  }
}

.event-logs__back-to-top {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
  background-color: var(--vf-color-background-default);
}