@mixin AppSideNavigation {
  .l-navigation.is-maas {
    @include vf-transition(
      $property: #{width,
      box-shadow,
      background},
      $duration: fast
    );

    .p-panel__controls {
      @include vf-transition(
        $property: #{opacity,
        visibility,
        transform,
        background},
        $duration: fast
      );

      @media only screen and (min-width: ($breakpoint-xx-large)) {
        display: none;
      }
    }
  }

  .p-panel.is-dark {
    background: inherit;

    .p-panel__header {
      background-color: inherit;
      @include vf-transition(
        $property: #{width,
        box-shadow,
        background},
        $duration: fast
      );
    }
  }
}
