@mixin AppSideNavigation {
  .p-panel {
    .p-panel__logo {
      color: $colors--dark-theme--text-default;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: ($breakpoint-small)) {
        margin-top: 1.25rem;
        margin-bottom: 0;
      }
    }
    .p-panel__logo-name {
      @extend %vf-heading-4;
      font-size: #{map-get($font-sizes, h4)}rem;
      line-height: map-get($line-heights, x-small);
      margin-bottom: 1.25rem !important;
      padding-top: 0.051rem !important;
      margin-left: 2rem !important;
      @media only screen and (min-width: ($breakpoint-small + 1)) {
        margin-left: 2.5rem !important;
      }
    }
    .p-panel__content {
      padding-top: 0;
    }
    .p-side-navigation--icons .p-side-navigation__footer {
      @extend .p-side-navigation__text;
      padding-left: 1.5rem;
      transition-duration: 0ms;
    }
    .p-navigation__tagged-logo {
      min-width: auto;
    }
    .p-navigation__tagged-logo .p-navigation__logo-tag {
      height: 2.3rem;
      left: 1rem;
      @media only screen and (min-width: ($breakpoint-small + 1)) {
        left: 1.5rem;
      }
    }
    .p-side-navigation--icons button.p-side-navigation__button {
      width: 100%;
      text-align: left;
      justify-content: flex-start;
    }
    .p-side-navigation--icons
      .p-side-navigation__item
      .p-side-navigation__item
      .p-side-navigation__link {
      padding-left: 4rem;
    }
  }

  .l-navigation:not(.is-pinned) {
    .p-side-navigation__collapse-toggle {
      i {
        transform: rotate(180deg);
      }
    }
  }

  .l-navigation {
    @include vf-transition(
      $property: #{width,
      box-shadow,
      background},
      $duration: fast
    );
    .p-panel.is-dark,
    .p-panel.is-dark .p-panel__header.is-sticky {
      @include vf-transition(
        $property: #{width,
        box-shadow,
        background},
        $duration: fast
      );
      background: inherit;
    }
    .l-navigation__controls {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      @include vf-transition(
        $property: #{transform,
        opacity,
        visibility},
        $duration: slow
      );
      transform: translateX(
          #{$application-layout--side-nav-width-expanded - 3.5rem}
        )
        translateY(0.8rem);
      button {
        background-color: rgba(255, 255, 255, 0.05);
      }
      @media only screen and (max-width: ($breakpoint-small)) {
        position: static;
        opacity: 1;
        visibility: visible;
        margin-left: auto;
        transform: none;
        padding-top: 0.65rem;
      }
    }
    &.is-collapsed {
      .l-navigation__controls i {
        transform: rotate(180deg);
      }
    }
    &:hover,
    &:focus-within,
    &.is-pinned {
      .l-navigation__controls {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .l-navigation-expand {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    transform: translateX(
        #{$application-layout--side-nav-width-collapsed - 1.5rem}
      )
      translateY(2.8rem);
    @include vf-transition(
      $property: #{opacity,
      visibility,
      transform,
      background},
      $duration: fast
    );
    i {
      transform: rotate(180deg);
    }
    @media only screen and (min-width: ($breakpoint-large)) {
      display: none;
    }
    @media only screen and (max-width: ($breakpoint-small)) {
      display: none;
    }
  }
  .l-navigation:hover,
  .l-navigation:focus-within,
  .l-navigation.is-pinned {
    & + .l-navigation-expand {
      visibility: hidden;
      opacity: 0;
      transform: translateX(
          #{$application-layout--side-nav-width-expanded - 1.5rem}
        )
        translateY(0.8rem);
    }
  }

  .p-panel.is-dark .p-panel__header {
    background-color: inherit;
  }
  .l-navigation--item-icon {
    margin-right: $sph--small;
  }
}
