@mixin MachineTestsTable {
  .p-table--machine-tests-table {
    th,
    td {
      &:nth-child(1) {
        min-width: 10%;
      }
      &:nth-child(2) {
        min-width: 20%;
      }
      &:nth-child(3) {
        min-width: 15%;
      }
      &:nth-child(4) {
        min-width: 10%;
      }
      &:nth-child(5) {
        min-width: 15%;
      }
      &:nth-child(6) {
        min-width: 15%;
      }
      &:nth-child(7) {
        min-width: 5%;
      }
    }
  }
}
