@mixin SegmentToggle {
  .p-segment-toggle {
    border: 1px solid $colors--light-theme--border-high-contrast;
    border-radius: $border-radius;
    margin: 0 0 $input-margin-bottom 0;
  }

  .p-segment-toggle__button {
    border-radius: 0;
    margin: 0;

    &,
    &:hover {
      border-color: $color-mid-light;
      border-style: solid;
      border-width: 0 1px 0 0;
    }

    &:first-child {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-right-width: 0;
      border-top-right-radius: $border-radius;
    }
  }

  .p-segment-toggle__button.is-active {
    background-color: $colors--light-theme--background-active;
  }
}
