# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# note: yarn.lock is in the parent directory as this project uses yarn workspaces
# however ./run erroneously generates a yarn.lock here.
yarn.lock

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# cypress
cypress/screenshots
cypress/videos

# misc
*.swp
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local

# [env] Local environment settings
.docker-project
.*.hash

npm-debug.log*
yarn-debug.log*
yarn-error.log*
