@mixin maas-icon-circle($color) {
  @extend %icon;
  @include vf-icon-size(0.5rem);
  background-color: $color;
  border-radius: 100%;
  margin-bottom: $spv--x-small;
  margin-top: $spv--x-small;
}

@mixin maas-icon-cluster($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 .872 3.845 2.22v3.74l2.96 1.708v4.44L9.96 15.2 7 13.49 4.04 15.2.195 12.98V8.54l2.96-1.709V3.092L7 .872Zm-2.96 7.18L1.695 9.406v2.707l2.345 1.354 2.074-1.199V9.25L4.04 8.052Zm5.92 0L7.884 9.248v3.021l2.074 1.198 2.345-1.354V9.406L9.96 8.052ZM7 2.604 4.654 3.958v2.708L7 8.019l2.345-1.353V3.958L7 2.604Z' fill='" + vf-url-friendly-color(
      $color
    ) + "'/%3E%3C/svg%3E");
}

@mixin maas-icon-single-host($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 .911 5.966 3.445v6.888L6 14.69.034 11.244V4.356L6 .91Zm-.001 1.732L1.534 5.221v5.157l4.465 2.578 4.466-2.578V5.221L5.999 2.643Z' fill='" + vf-url-friendly-color(
      $color
    ) + "'/%3E%3C/svg%3E");
}

@mixin maas-icon-unknown($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='prototype--tables' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='207-group-selection' transform='translate%28-333.000000, -143.000000%29'%3E%3Cg id='Group' transform='translate%28333.000000, 141.000000%29'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cpath d='M2.79224377,3.71191136 C2.40443019,3.71191136 2.03324277,3.7590023 1.67867036,3.8531856 C1.32409795,3.94736889 0.952910526,4.09972194 0.565096953,4.31024931 L0,2.76454294 C0.409974349,2.53185479 0.878113712,2.34626108 1.40443213,2.20775623 C1.93075055,2.06925139 2.47091136,2 3.02493075,2 C3.68975402,2 4.23822499,2.09141183 4.67036011,2.27423823 C5.10249524,2.45706463 5.44598211,2.68697922 5.70083102,2.96398892 C5.95567994,3.24099861 6.13296349,3.54570471 6.23268698,3.87811634 C6.33241047,4.21052798 6.38227147,4.5318544 6.38227147,4.84210526 C6.38227147,5.21883845 6.31302008,5.55678521 6.17451524,5.85595568 C6.03601039,6.15512615 5.8614969,6.43213169 5.65096953,6.68698061 C5.44044216,6.94182953 5.21329762,7.18282435 4.96952909,7.4099723 C4.72576055,7.63712025 4.49861601,7.8698049 4.28808864,8.10803324 C4.07756127,8.34626158 3.90304778,8.59833662 3.76454294,8.86426593 C3.62603809,9.13019524 3.5567867,9.42936122 3.5567867,9.76177285 L3.5567867,9.95290859 C3.5567867,10.0249311 3.56232681,10.0941825 3.5734072,10.1606648 L1.84487535,10.1606648 C1.82271457,10.0498609 1.80609424,9.93074856 1.79501385,9.8033241 C1.78393346,9.67589964 1.77839335,9.55678726 1.77839335,9.44598338 C1.77839335,9.08033058 1.83933457,8.75346404 1.96121884,8.46537396 C2.0831031,8.17728388 2.2382262,7.91135856 2.4265928,7.66759003 C2.61495939,7.4238215 2.81717343,7.19667695 3.033241,6.98614958 C3.24930856,6.77562222 3.4515226,6.56509801 3.6398892,6.35457064 C3.82825579,6.14404327 3.98337889,5.92797895 4.10526316,5.70637119 C4.22714742,5.48476343 4.28808864,5.24099856 4.28808864,4.97506925 C4.28808864,4.60941645 4.16343615,4.30748042 3.91412742,4.06925208 C3.6648187,3.83102374 3.29086122,3.71191136 2.79224377,3.71191136 Z M4.08864266,12.6869806 C4.08864266,13.0747942 3.96122011,13.3905805 3.70637119,13.634349 C3.45152227,13.8781176 3.13573596,14 2.75900277,14 C2.39334997,14 2.08033371,13.8781176 1.8199446,13.634349 C1.55955548,13.3905805 1.42936288,13.0747942 1.42936288,12.6869806 C1.42936288,12.299167 1.55955548,11.9806107 1.8199446,11.7313019 C2.08033371,11.4819932 2.39334997,11.3573407 2.75900277,11.3573407 C3.13573596,11.3573407 3.45152227,11.4819932 3.70637119,11.7313019 C3.96122011,11.9806107 4.08864266,12.299167 4.08864266,12.6869806 Z' id='%3F' fill='" + vf-url-friendly-color(
      $color
    ) + "'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin maas-icons {
  $color-link--faded: #d3e4ed;
  $color-positive--faded: #4dab4d;

  .p-icon--cluster {
    @extend %icon;
    @include maas-icon-cluster($color-mid-dark);
  }

  .p-icon--disconnected {
    @extend %icon;
    @include vf-icon-disconnect($color-negative);
  }

  // TODO: Remove alias and replace with .p-icon--lock-locked-active
  .p-icon--locked {
    @extend .p-icon--lock-locked-active;
  }

  .p-icon--security {
    @extend %icon;
    @include vf-icon-security($color-mid-dark);
  }

  .p-icon--warning-grey {
    @extend %icon;
    @include vf-icon-warning-grey(#FFFFFF)
  }

  // TODO: Remove alias and replace with .p-icon--status-waiting
  .p-icon--pending {
    @extend .p-icon--status-waiting;
  }

  .p-icon--power-error {
    @extend %icon;
    @include vf-icon-power-off($color-negative);
  }

  .p-icon--power-on {
    @extend %icon;
    @include vf-icon-power-off($color-positive);
  }

  .p-icon--power-unknown {
    @extend %icon;
    @include maas-icon-unknown($color-mid-dark);
  }

  // TODO: Remove alias and replace with .p-icon--unit-running
  .p-icon--running {
    @extend .p-icon--unit-running;
  }

  .p-icon--single-host {
    @extend %icon;
    @include maas-icon-single-host($color-mid-dark);
  }

  // TODO: Remove alias and replace with .p-icon--task-outstanding
  .p-icon--tick {
    @extend .p-icon--task-outstanding;
  }

  .p-icon--timed-out {
    @extend %icon;
    @include vf-icon-timed-out($color-negative);
  }

  // TODO: Replace circle icons with .vf-icon-status-small mixin
  .p-circle--link {
    @include maas-icon-circle($color-link);
  }

  .p-circle--link-faded {
    @include maas-icon-circle($color-link--faded);
  }

  .p-circle--positive {
    @include maas-icon-circle($color-positive);
  }

  .p-circle--positive-faded {
    @include maas-icon-circle($color-positive--faded);
  }

  [class*="p-circle--"].is-inline,
  [class*="p-icon--"].is-inline {
    margin-right: $sph--small;
    top: 0;
  }
}
