/**
 * Vanilla overrides.
 * {Date} {Person}: {Description of issue}
 * {Link to relevant GitHub issue}
 */

// 10-07-2020 Caleb: Slider input misaligned when using type="number" + wrapper
// should mirror normal form field spacing.
// https://github.com/canonical/vanilla-framework/issues/3163
.p-slider__wrapper {
  margin-bottom: $input-margin-bottom;
}
.p-slider__input {
  -moz-appearance: textfield;
  height: auto;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// 09-05-2022 Caleb: Side nav sets background to white on full-screen
// https://github.com/canonical/vanilla-framework/issues/4458
.p-side-navigation .p-side-navigation__drawer {
  @media screen and (min-width: $breakpoint-large) {
    background-color: transparent;
  }
}

// 24-01-2023 Peter: tooltip message is hidden behind side panel
// https://github.com/canonical/vanilla-framework/issues/4607
.p-tooltip__message {
  z-index: $side-panel-z-index + 1;
}
