@mixin KVMStorage {
  .kvm-storage-grid {
    @extend %base-grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: $breakpoint-x-large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .kvm-storage-meter-grid {
    display: grid;
    grid-column-gap: $sph-inner;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;

    @media only screen and (min-width: $breakpoint-small) {
      grid-template-columns: 1fr 3fr;
    }
  }
}
