@import "~vanilla-framework/scss/settings_spacing";
@import "~vanilla-framework/scss/settings_colors";

.scripts-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2;
  border-radius: 2;
  border-color: $color-mid-x-light;
  border-style: dashed;
  background-color: $color-light;
  color: $color-mid-x-light;
  outline: none;
  transition: border .24s ease-in-out;
}

.scripts-upload--active {
  border-color: $color-link;
};

.scripts-upload--accept {
  border-color: $color-positive;
};

.scripts-upload--reject {
  border-color: $color-negative;
};
