@import "~vanilla-framework/scss/settings_spacing";
@import "~vanilla-framework/scss/settings_colors";
@import "~vanilla-framework/scss/base_placeholders";
@import "~vanilla-framework/scss/patterns_icons";

%heading-icon {
  @include vf-icon-chevron;
  background: {
    position: center;
    repeat: no-repeat;
    size: 100%;
  }
  content: "";
  display: block;
  flex: 0 0 $sp-medium;
  height: 0.4rem;
  margin-top: $sp-small;
  margin-left: $sp-x-small;
}

.scripts-list td,
.scripts-list th {
  // Script name
  &:nth-child(1) {
    flex: 0 0 30%;
  }

  // Description
  &:nth-child(2) {
    flex: 0 0 45%;
  }

  // Uploaded on
  &:nth-child(3) {
    flex: 0 0 15%;
  }

  // Last edited
  &:nth-child(4) {
    flex: 0 0 10%;
  }
}

td:not(.p-table-expanding__panel) [class*="p-button"].scripts-list__toggle,
.scripts-list__toggle {
  align-self: flex-start;
  color: $color-dark;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.scripts-list__toggle-name {
  flex: 1 1 auto;
}

.scripts-list__toggle::after {
  @extend %heading-icon;
}

.scripts-list__toggle.is-active::after {
  @extend %heading-icon;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
