@mixin LimitedIpInput {
  .limited-ip-input {
    &__input-wrapper::before {
      position: absolute;
      pointer-events: none;
      padding-left: $spv--small;
      padding-bottom: calc(0.4rem - 1px);
      padding-top: calc(0.4rem - 1px);
      content: var(--immutable, "");
      top: 2.5rem;
    }
  }
}
