@mixin NodeActionMenuGroup {
  .p-button-group {
    display: inline-flex;
    margin: 0 0 0 $spv--large;
    flex-wrap: wrap;
    border: 1px solid #d9d9d9;

    .p-button {
      .p-icon--delete {
        margin-right: $spv--x-small;
      }
    }

    .p-button, .p-switch {
      margin: 0 0 0 0;
      padding: 0 $spv--large 0 $spv--large;
      border: 0;
    }

    .p-action-button--wrapper + .p-action-button--wrapper {
      border-left: 1px solid #d9d9d9;
      border-radius: 0;
    }
  }
}