name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      BASE_URL: localhost:5240
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Setup MAAS
        uses: canonical/setup-maas@main
        with:
          maas-url: ${{env.BASE_URL}}/MAAS
      - name: Create MAAS admin
        run: sudo maas createadmin --username=admin --password=test --email=fake@example.org
      - name: Wait for MAAS UI to be ready
        run: yarn run wait-on http-get://${{env.BASE_URL}}/MAAS/r
      - name: Run Playwright tests
        run: yarn playwright test
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
