name: Upload
on:
  pull_request:
    types: [closed]
jobs:
  upload-build:
    if: github.event.pull_request.merged == true
    name: Upload build artifacts
    runs-on: ubuntu-latest
    env:
      PACKAGE_NAME: maas-ui-${{ github.sha }}.tar.gz
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3
      - name: Restore node_modules
        id: yarn-cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: CYPRESS_INSTALL_BINARY=0 yarn install
      - name: Build
        run: CI=false yarn build
        env:
          CI: true
      - name: Compress
        run: tar -czf ${{env.PACKAGE_NAME}} build/
      - name: Install upload-assets snap
        run: sudo snap install upload-assets
      - name: Upload to assets server
        run: upload-assets --url-path ${{env.PACKAGE_NAME}} ${{env.PACKAGE_NAME}}
        env:
          UPLOAD_ASSETS_API_TOKEN: ${{secrets.UPLOAD_ASSETS_API_TOKEN}}
